<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.chenlin.dp.modules.biz.appDomain.dao.AppDomainMapper">
	
	<select id="listForPage" resultType="net.chenlin.dp.modules.biz.appDomain.entity.AppDomainEntity">
		SELECT
			ad.`id` id,
		    ad.`domain_type` domain_type,
		    ad.`domain_name` domain_name,
		    ad.`app_base_name` app_base_name,
		    ad.`android_resigned_package_name` android_resigned_package_name,
		    ad.`app_resigned_id` app_resigned_id,
		    ad.`create_time` create_time,
		    ad.`update_time` update_time,
		    ad.`create_by` create_by,
		    ad.`update_by` update_by,
		    d.`qq_checked` qq_checked
		FROM
			app_domain ad
		left join domain d on ad.domain_name = d.domain_name
		where
		1=1
		<if test="domainType != null"> and ad.`domain_type` = #{domainType} </if>
		<if test="domainName != null"> and ad.`domain_name` = #{domainName} </if>
		<if test="appBaseName != null"> and ad.`app_base_name` = #{appBaseName} </if>
		<if test="androidResignedPackageName != null"> and ad.`android_resigned_package_name` = #{androidResignedPackageName} </if>
		<if test="appResignedId != null"> and ad.`app_resigned_id` = #{appResignedId} </if>
		<if test="createTime != null"> and ad.`create_time` = #{createTime} </if>
		<if test="updateTime != null"> and ad.`update_time` = #{updateTime} </if>
		<if test="createBy != null"> and ad.`create_by` = #{createBy} </if>
		<if test="updateBy != null"> and ad.`update_by` = #{updateBy}</if>
		<if test="domainEnable != null"> and d.`domain_enable` = #{domainEnable} </if>
		<if test="isBlocked != null"> and d.`is_blocked` = #{isBlocked} </if>
		<if test="qqChecked != null"> and d.`qq_checked` = #{qqChecked} </if>
		ORDER BY
			ad.id DESC
	</select>
	
	<insert id="save">
		INSERT INTO app_domain (
			`domain_type`, 
			`domain_name`, 
			`app_base_name`, 
			`android_resigned_package_name`, 
			`app_resigned_id`, 
			`create_time`, 
			`update_time`, 
			`create_by`, 
			`update_by`
		)
		VALUES (
			#{domainType}, 
			#{domainName}, 
			#{appBaseName}, 
			#{androidResignedPackageName}, 
			#{appResignedId}, 
			#{createTime}, 
			#{updateTime}, 
			#{createBy}, 
			#{updateBy}
		)
	</insert>
	
	<select id="getObjectById" resultType="net.chenlin.dp.modules.biz.appDomain.entity.AppDomainEntity">
		SELECT
			`id`, 
			`domain_type`, 
			`domain_name`, 
			`app_base_name`, 
			`android_resigned_package_name`, 
			`app_resigned_id`, 
			`create_time`, 
			`update_time`, 
			`create_by`, 
			`update_by`
		FROM
			app_domain
		WHERE
			id = #{id}
	</select>
	
	<update id="update">
		UPDATE app_domain
	 	<set>
			<if test="domainType != null">`domain_type` = #{domainType}, </if>
			<if test="domainName != null">`domain_name` = #{domainName}, </if>
			<if test="appBaseName != null">`app_base_name` = #{appBaseName}, </if>
			<if test="androidResignedPackageName != null">`android_resigned_package_name` = #{androidResignedPackageName}, </if>
			<if test="appResignedId != null">`app_resigned_id` = #{appResignedId}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="createBy != null">`create_by` = #{createBy}, </if>
			<if test="updateBy != null">`update_by` = #{updateBy}</if>
		</set>
		WHERE
			id = #{id}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			app_domain
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<select id="getDomainsEnabled" resultType="net.chenlin.dp.modules.biz.appDomain.entity.AppDomainEntity">
		SELECT
			ad.`id` id,
			ad.`domain_type` domain_type,
			ad.`domain_name` domain_name,
			ad.`app_base_name` app_base_name,
			ad.`android_resigned_package_name` android_resigned_package_name,
			ad.`app_resigned_id` app_resigned_id,
			ad.`create_time` create_time,
			ad.`update_time`update_time,
			ad.`create_by`create_by,
			ad.`update_by` update_by
		FROM
			app_domain ad
		left join domain d on ad.domain_name = d.domain_name
		where d.is_blocked = 1 and d.domain_enable = 1 and ad.`app_resigned_id` = #{appResignedId} and d.domain_type = #{domainType}
		ORDER BY
			id DESC
	</select>

	<select id="getDomainsEnabledOne" resultType="net.chenlin.dp.modules.biz.appDomain.entity.AppDomainEntity">
		SELECT
			ad.`id` id,
			ad.`domain_type` domain_type,
			ad.`domain_name` domain_name,
			ad.`app_base_name` app_base_name,
			ad.`android_resigned_package_name` android_resigned_package_name,
			ad.`app_resigned_id` app_resigned_id,
			ad.`create_time` create_time,
			ad.`update_time`update_time,
			ad.`create_by`create_by,
			ad.`update_by` update_by
		FROM
			app_domain ad
				left join domain d on ad.domain_name = d.domain_name
		where d.is_blocked = 1 and d.domain_enable = 1 and ad.`app_resigned_id` = #{appResignedId} and d.domain_type = #{domainType} and d.domain_origin = 1
		ORDER BY
			id DESC limit 1
	</select>

	<select id="getDomainsEnabledByBaseAppName" resultType="net.chenlin.dp.modules.biz.appDomain.entity.AppDomainEntity">
		SELECT
			ad.`id` id,
			ad.`domain_type` domain_type,
			ad.`domain_name` domain_name,
			ad.`app_base_name` app_base_name,
			ad.`android_resigned_package_name` android_resigned_package_name,
			ad.`app_resigned_id` app_resigned_id,
			ad.`create_time` create_time,
			ad.`update_time`update_time,
			ad.`create_by`create_by,
			ad.`update_by` update_by
		FROM
			app_domain ad
		left join domain d on ad.domain_name = d.domain_name
		where d.is_blocked = 1 and d.domain_enable = 1 and ad.`app_base_name` = #{appBaseName} and d.domain_type = #{domainType}  and d.qq_checked = #{qqChecked}
		ORDER BY id DESC limit ${count}
	</select>


	<select id="getDomainsEnabledByBaseAppNameNoUse" resultType="net.chenlin.dp.modules.biz.appDomain.entity.AppDomainEntity">
		SELECT
			ad.`id` id,
			ad.`domain_type` domain_type,
			ad.`domain_name` domain_name,
			ad.`app_base_name` app_base_name,
			ad.`android_resigned_package_name` android_resigned_package_name,
			ad.`app_resigned_id` app_resigned_id,
			ad.`create_time` create_time,
			ad.`update_time`update_time,
			ad.`create_by`create_by,
			ad.`update_by` update_by
		FROM
			app_domain ad
				left join domain d on ad.domain_name = d.domain_name
		where d.is_blocked = 1 and d.domain_enable = 1 and ad.`app_base_name` = #{appBaseName} and d.domain_type = #{domainType} and d.domain_origin = 1
		  and d.qq_checked = #{qqChecked}
		and ad.domain_name not in
		<foreach item="domainName" collection="domainUsedNames" open="(" separator="," close=")" >
			#{domainName}
		</foreach>
		ORDER BY id DESC limit ${count}
	</select>

</mapper>