<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.chenlin.dp.modules.biz.employeedefaultmessage.dao.EmployeeDefaultMessageMapper">
	
	<select id="listForPage" resultType="net.chenlin.dp.modules.biz.employeedefaultmessage.entity.EmployeeDefaultMessageEntity">
		SELECT
		edm.`employee_id` employeeId,
		edm.`member_id` memberId,
		edm.`msg1`,
		edm.`msg2`,
		edm.`msg3`,
		edm.`picture1`,
		edm.`picture2`,
		edm.`picture3`,
		edm.`picture4`,
		edm.`picture5`,
		edm.`id`,
		edm.`invite_code` inviteCode,
		edm.`org_id`,
		m.`nick_name` nickName
		FROM
			employee_default_message edm
		inner join member m on m.`member_id` = edm.`member_id`  and m.`org_id` = edm.`org_id`
		where
		1=1
		<if test="employeeId != null"> and edm.`employee_id` = #{employeeId} </if>
		<if test="memberId != null"> and edm.`member_id` = #{memberId} </if>
		<if test="msg1 != null"> and edm.`msg1` = #{msg1} </if>
		<if test="msg2 != null"> and edm.`msg2` = #{msg2} </if>
		<if test="msg3 != null"> and edm.`msg3` = #{msg3} </if>
		<if test="picture1 != null"> and edm.`picture1` = #{picture1} </if>
		<if test="picture2 != null"> and edm.`picture2` = #{picture2} </if>
		<if test="picture3 != null"> and edm.`picture3` = #{picture3} </if>
		<if test="picture4 != null"> and edm.`picture4` = #{picture4} </if>
		<if test="picture5 != null"> and edm.`picture5` = #{picture5} </if>
		<if test="id != null"> and edm.`id` = #{id} </if>
		<if test="inviteCode != null"> and edm.`invite_code` = #{inviteCode} </if>
		<if test="orgId != null"> and edm.`org_id` = #{orgId} </if>
		<if test="nickName != null"> and m.`nick_name` = #{nickName} </if>
		ORDER BY
		edm.`member_id` DESC
	</select>
	
	<insert id="save">
		INSERT INTO employee_default_message (
			`employee_id` employeeId, 
			`member_id` memberId, 
			`msg1`, 
			`msg2`, 
			`msg3`, 
			`picture1`, 
			`picture2`, 
			`picture3`, 
			`picture4`, 
			`picture5`, 
			`id`, 
			`invite_code` inviteCode,
			`org_id` orgId
		)
		VALUES (
			#{employeeId}, 
			#{memberId}, 
			#{msg1}, 
			#{msg2}, 
			#{msg3}, 
			#{picture1}, 
			#{picture2}, 
			#{picture3}, 
			#{picture4}, 
			#{picture5}, 
			#{id}, 
			#{inviteCode},
			#{orgId}
		)
	</insert>
	
	<select id="getObjectById" resultType="net.chenlin.dp.modules.biz.employeedefaultmessage.entity.EmployeeDefaultMessageEntity">
		SELECT
			`employee_id` employeeId, 
			`member_id` memberId, 
			`msg1`, 
			`msg2`, 
			`msg3`, 
			`picture1`, 
			`picture2`, 
			`picture3`, 
			`picture4`, 
			`picture5`, 
			`id`, 
			`invite_code` inviteCode,
			`org_id` orgId
		FROM
			employee_default_message
		WHERE
			id = #{id}
	</select>
	
	<update id="update">
		UPDATE employee_default_message
	 	<set>
			<if test="employeeId != null">`employee_id` = #{employeeId}, </if>
			<if test="memberId != null">`member_id` = #{memberId}, </if>
			<if test="msg1 != null">`msg1` = #{msg1}, </if>
			<if test="msg2 != null">`msg2` = #{msg2}, </if>
			<if test="msg3 != null">`msg3` = #{msg3}, </if>
			<if test="picture1 != null">`picture1` = #{picture1}, </if>
			<if test="picture2 != null">`picture2` = #{picture2}, </if>
			<if test="picture3 != null">`picture3` = #{picture3}, </if>
			<if test="picture4 != null">`picture4` = #{picture4}, </if>
			<if test="picture5 != null">`picture5` = #{picture5}, </if>
			<if test="inviteCode != null">`invite_code` = #{inviteCode}</if>
		</set>
		WHERE
			id = #{id}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			employee_default_message
		WHERE
			id IN
			<foreach item="id" collection="array" open="(" separator="," close=")">
				#{id}
			</foreach>
	</delete>

</mapper>