<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.chenlin.dp.modules.biz.employeedefaultmessage.dao.EmployeeDefaultMessageMapper">
	
	<select id="listForPage" resultType="net.chenlin.dp.modules.biz.employeedefaultmessage.entity.EmployeeDefaultMessageEntity">
		SELECT
		edm.`employee_id`,
		edm.`member_id`,
		edm.`msg_1`,
		edm.`msg_2`,
		edm.`msg_3`,
		edm.`picture_1`,
		edm.`picture_2`,
		edm.`picture_3`,
		edm.`picture_4`,
		edm.`picture_5`,
		edm.`id`,
		edm.`invite_code`,
		edm.`org_id`,
		m.nickName
		FROM
			employee_default_message edm
		left join member m on m.memberId = edm.member_id
		where
		1=1
		<if test="employee_id != null"> and edm.`employee_id` = #{employee_id} </if>
		<if test="member_id != null"> and edm.`member_id` = #{member_id} </if>
		<if test="msg_1 != null"> and edm.`msg_1` = #{msg_1} </if>
		<if test="msg_2 != null"> and edm.`msg_2` = #{msg_2} </if>
		<if test="msg_3 != null"> and edm.`msg_3` = #{msg_3} </if>
		<if test="picture_1 != null"> and edm.`picture_1` = #{picture_1} </if>
		<if test="picture_2 != null"> and edm.`picture_2` = #{picture_2} </if>
		<if test="picture_3 != null"> and edm.`picture_3` = #{picture_3} </if>
		<if test="picture_4 != null"> and edm.`picture_4` = #{picture_4} </if>
		<if test="picture_5 != null"> and edm.`picture_5` = #{picture_5} </if>
		<if test="id != null"> and edm.`id` = #{id} </if>
		<if test="invite_code != null"> and edm.`invite_code` = #{invite_code} </if>
		<if test="org_id != null"> and edm.`org_id` = #{org_id} </if>
		<if test="nickName != null"> and m.`nickName` = #{nickName} </if>
		ORDER BY
			id DESC
	</select>
	
	<insert id="save">
		INSERT INTO employee_default_message (
			`employee_id`, 
			`member_id`, 
			`msg_1`, 
			`msg_2`, 
			`msg_3`, 
			`picture_1`, 
			`picture_2`, 
			`picture_3`, 
			`picture_4`, 
			`picture_5`, 
			`id`, 
			`invite_code`,
			`org_id`
		)
		VALUES (
			#{employee_id}, 
			#{member_id}, 
			#{msg_1}, 
			#{msg_2}, 
			#{msg_3}, 
			#{picture_1}, 
			#{picture_2}, 
			#{picture_3}, 
			#{picture_4}, 
			#{picture_5}, 
			#{id}, 
			#{invite_code},
			#{org_id}
		)
	</insert>
	
	<select id="getObjectById" resultType="net.chenlin.dp.modules.biz.employeedefaultmessage.entity.EmployeeDefaultMessageEntity">
		SELECT
			`employee_id`, 
			`member_id`, 
			`msg_1`, 
			`msg_2`, 
			`msg_3`, 
			`picture_1`, 
			`picture_2`, 
			`picture_3`, 
			`picture_4`, 
			`picture_5`, 
			`id`, 
			`invite_code`,
			`org_id`
		FROM
			employee_default_message
		WHERE
			id = #{id}
	</select>
	
	<update id="update">
		UPDATE employee_default_message
	 	<set>
			<if test="employee_id != null">`employee_id` = #{employee_id}, </if>
			<if test="member_id != null">`member_id` = #{member_id}, </if>
			<if test="msg_1 != null">`msg_1` = #{msg_1}, </if>
			<if test="msg_2 != null">`msg_2` = #{msg_2}, </if>
			<if test="msg_3 != null">`msg_3` = #{msg_3}, </if>
			<if test="picture_1 != null">`picture_1` = #{picture_1}, </if>
			<if test="picture_2 != null">`picture_2` = #{picture_2}, </if>
			<if test="picture_3 != null">`picture_3` = #{picture_3}, </if>
			<if test="picture_4 != null">`picture_4` = #{picture_4}, </if>
			<if test="picture_5 != null">`picture_5` = #{picture_5}, </if>
			<if test="invite_code != null">`invite_code` = #{invite_code}</if>
		</set>
		WHERE
			id = #{id}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			employee_default_message
		WHERE
			id IN
			<foreach item="id" collection="array" open="(" separator="," close=")">
				#{id}
			</foreach>
	</delete>

</mapper>