@layout("../../system/layout.html", {title: "重签后的app信息"}){
<table class="form" id="form">
    <tr>
        <td class="formTitle">安卓重签后下载地址<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="appResigned.androidResignedDownloadAddress" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>

    <tr>
        <td class="formTitle">iOS下载地址<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="appResigned.iosDownloadAddrss" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">app编号<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="appResigned.appBaseId" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">app名字<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="appResigned.appBaseName" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
</table>
<script src="${ctxPath}/static/js/biz/appResign/add.js"></script>
@}