<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.chenlin.dp.modules.biz.oss.dao.OssConfigMapper">
	
	<select id="listForPage" resultType="net.chenlin.dp.modules.biz.oss.entity.OssConfigEntity">
		SELECT
			`id`, 
			`update_time`, 
			`create_time`, 
			`create_by`, 
			`update_by`, 
			`endpoint`, 
			`appPoint`, 
			`access_key_id`, 
			`bucketname`, 
			`oss_accelerate_domain`, 
			`access_key_secret`, 
			`enabled`, 
			`oss_group_name`
		FROM
			oss_config
		where
		1=1
		<if test="id != null"> and `id` = #{id} </if>
		<if test="updateTime != null"> and `update_time` = #{updateTime} </if>
		<if test="createTime != null"> and `create_time` = #{createTime} </if>
		<if test="createBy != null"> and `create_by` = #{createBy} </if>
		<if test="updateBy != null"> and `update_by` = #{updateBy} </if>
		<if test="endpoint != null"> and `endpoint` = #{endpoint} </if>
		<if test="apppoint != null"> and `appPoint` = #{apppoint} </if>
		<if test="accessKeyId != null"> and `access_key_id` = #{accessKeyId} </if>
		<if test="bucketname != null"> and `bucketname` = #{bucketname} </if>
		<if test="ossAccelerateDomain != null"> and `oss_accelerate_domain` = #{ossAccelerateDomain} </if>
		<if test="accessKeySecret != null"> and `access_key_secret` = #{accessKeySecret} </if>
		<if test="enabled != null"> and `enabled` = #{enabled} </if>
		<if test="ossGroupName != null"> and `oss_group_name` = #{ossGroupName} </if>
		ORDER BY
			id DESC
	</select>
	
	<insert id="save">
		INSERT INTO oss_config (
			`update_time`, 
			`create_time`, 
			`create_by`, 
			`update_by`, 
			`endpoint`, 
			`appPoint`, 
			`access_key_id`, 
			`bucketname`, 
			`oss_accelerate_domain`, 
			`access_key_secret`, 
			`enabled`, 
			`oss_group_name`
		)
		VALUES (
			now(),
			now(),
			#{createBy}, 
			#{updateBy}, 
			#{endpoint}, 
			#{apppoint}, 
			#{accessKeyId}, 
			#{bucketname}, 
			#{ossAccelerateDomain}, 
			#{accessKeySecret}, 
			#{enabled}, 
			#{ossGroupName}
		)
	</insert>
	
	<select id="getObjectById" resultType="net.chenlin.dp.modules.biz.oss.entity.OssConfigEntity">
		SELECT
			`id`, 
			`update_time`, 
			`create_time`, 
			`create_by`, 
			`update_by`, 
			`endpoint`, 
			`appPoint`, 
			`access_key_id`, 
			`bucketname`, 
			`oss_accelerate_domain`, 
			`access_key_secret`, 
			`enabled`, 
			`oss_group_name`
		FROM
			oss_config
		WHERE
			id = #{id}
	</select>
	
	<update id="update">
		UPDATE oss_config
	 	<set>
			`update_time` = now(),
			<if test="updateBy != null">`update_by` = #{updateBy}, </if>
			<if test="endpoint != null">`endpoint` = #{endpoint}, </if>
			<if test="apppoint != null">`appPoint` = #{apppoint}, </if>
			<if test="accessKeyId != null">`access_key_id` = #{accessKeyId}, </if>
			<if test="bucketname != null">`bucketname` = #{bucketname}, </if>
			<if test="ossAccelerateDomain != null">`oss_accelerate_domain` = #{ossAccelerateDomain}, </if>
			<if test="accessKeySecret != null">`access_key_secret` = #{accessKeySecret}, </if>
			<if test="enabled != null">`enabled` = #{enabled}, </if>
			<if test="ossGroupName != null">`oss_group_name` = #{ossGroupName}</if>
		</set>
		WHERE
			id = #{id}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			oss_config
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>