<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.chenlin.dp.modules.biz.show.dao.ShowConfigMapper">
	
	<select id="listForPage" resultType="net.chenlin.dp.modules.biz.show.entity.ShowConfigEntity">
		SELECT
			`id`, 
			`site_id`, 
			`contact`, 
			`app_start_img`, 
			`icon`, 
			`logo`
		FROM
			show_config
		where
		1=1
		<if test="id != null"> and `id` = #{id} </if>
		<if test="site_id != null"> and `site_id` = #{site_id} </if>
		<if test="contact != null"> and `contact` = #{contact} </if>
		<if test="app_start_img != null"> and `app_start_img` = #{app_start_img} </if>
		<if test="icon != null"> and `icon` = #{icon} </if>
		<if test="logo != null"> and `logo` = #{logo} </if>
		ORDER BY
			id DESC
	</select>
	
	<insert id="save">
		INSERT INTO show_config (
			`id`, 
			`site_id`, 
			`contact`, 
			`app_start_img`, 
			`icon`, 
			`logo`
		)
		VALUES (
			#{id}, 
			#{site_id}, 
			#{contact}, 
			#{app_start_img}, 
			#{icon}, 
			#{logo}
		)
	</insert>
	
	<select id="getObjectById" resultType="net.chenlin.dp.modules.biz.show.entity.ShowConfigEntity">
		SELECT
			`id`, 
			`site_id`, 
			`contact`, 
			`app_start_img`, 
			`icon`, 
			`logo`
		FROM
			show_config
		WHERE
			id = #{id}
	</select>
	
	<update id="update">
		UPDATE show_config
	 	<set>
			<if test="site_id != null">`site_id` = #{site_id}, </if>
			<if test="contact != null">`contact` = #{contact}, </if>
			<if test="app_start_img != null">`app_start_img` = #{app_start_img}, </if>
			<if test="icon != null">`icon` = #{icon}, </if>
			<if test="logo != null">`logo` = #{logo}</if>
		</set>
		WHERE
			id = #{id}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			show_config
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>