@layout("../../system/layout.html", {title: ""}){
<table class="form" id="form">
    <tr>
        <td class="formTitle">域名类型<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="1: 服务器域名；2 推广域名" v-model="appDomain.domainType" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">域名<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="域名" v-model="appDomain.domainName" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">app原包名<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="app原包名" v-model="appDomain.appBaseName" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">安卓重签后的包名<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="安卓重签后的包名" v-model="appDomain.androidResignedPackageName" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">安卓重签后的id<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="安卓重签后的id" v-model="appDomain.appResignedId" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>

</table>
<script src="${ctxPath}/static/js/biz/appDomain/add.js"></script>
@}