@layout("../../system/layout.html", {title: ""}){
<div class="row">
    <div class="col-md-4 form-inline pull-left"  style="width: 75%;" >
        <div class="form-group">
            <input id="appBaseName"  \@keyup.enter="load" type="text" class="form-control" placeholder="app原包名" style="width: 100px;" />
            域名类型:&nbsp;&nbsp;&nbsp;
            <select  id="domainType"  class="form-control"  style="width: 100px;" >
                <option value=""  style="display:none">请选择</option>
                <option value="1">服务器域名</option>
                <option value="2">推广域名</option>
            </select>
            是否启用:&nbsp;&nbsp;&nbsp;
            <select  id="domainEnable"  class="form-control"  style="width: 100px;" >
                <option value=""  style="display:none">请选择</option>
                <option value="1">启用</option>
                <option value="2">禁用</option>
            </select>
            是否被封:&nbsp;&nbsp;&nbsp;
            <select  id="isBlocked"  class="form-control"  style="width: 100px;" >
                <option value=""  style="display:none">请选择</option>
                <option value="1">正常</option>
                <option value="2">不可用</option>
            </select>
        </div>
        <div class="form-group">
            <a class="btn btn-primary" \@click="load"><i class="fa fa-search"></i>&nbsp;查询</a>
        </div>
    </div>
    <div class="col-md-8" style="width: 25%;" >
        <div class="btn-toolbar pull-right">
            <div class="btn-group">
                <a v-if="hasPermission('appDomain:list')" class="btn btn-default" onclick="reload();"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
                <a v-if="hasPermission('appDomain:save')" class="btn btn-default" \@click="save"><i class="fa fa-plus"></i>&nbsp;新增</a>
                <a v-if="hasPermission('appDomain:remove')" class="btn btn-default" \@click="remove(true)"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <table id="dataGrid"></table>
</div>
<script src="${ctxPath}/static/js/biz/appDomain/list.js"></script>
@}