<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.chenlin.dp.modules.biz.bussiness.dao.CommodityMapper">

    <select id="listForPage" resultType="net.chenlin.dp.modules.biz.bussiness.entity.CommodityEntity">
        SELECT
        c.`id`,
        c.`name`,
        c.`commodity_info`,
        cc.`category_name`,
        c.`prize`,
        c.`in_stock`,
        c.`img`,
        c.`create_time`,
        c.`modify_time`,
        c.`org_id`
        FROM
        commodity c
        left join commodity_category cc on c.`category_id` = cc.`id`
        where
        1=1
        <if test="name != null">and `name` = #{name}</if>
        <if test="category_id != null">and `category_id` = #{category_id}</if>
        ORDER BY
        id DESC
    </select>


    <select id="listForPageCC" resultType="net.chenlin.dp.modules.biz.bussiness.entity.CommodityCategoryEntity">
        SELECT
        `id`,
        `category_name`
        FROM
        commodity_category
        where
        1=1 and
    </select>

    <insert id="save">
        INSERT INTO commodity (`name`,
                               `category_id`,
                               `commodity_info`,
                               `prize`,
                               `in_stock`,
                               `img`,
                               `create_time`,
                               `modify_time`,
                               `org_id`)
        VALUES (#{name},
                #{category_id},
                #{commodity_info},
                #{prize},
                #{in_stock},
                #{img},
                #{create_time},
                #{modify_time},
                #{org_id})
    </insert>

    <insert id="saveCC">
        INSERT INTO commodity (`category_name`)
        VALUES (#{name})
    </insert>

    <select id="getObjectById" resultType="net.chenlin.dp.modules.biz.bussiness.entity.CommodityEntity">
        SELECT c.`id`,
               c.`name`,
               c.`commodity_info`,
               cc.`category_name`,
               c.`prize`,
               c.`in_stock`,
               c.`img`,
               c.`org_id`
        FROM commodity c
        left join commodity_category cc on c.`category_id` = cc.`id`
        WHERE id = #{id}
    </select>

    <select id="getObjectByIdCC" resultType="net.chenlin.dp.modules.biz.bussiness.entity.CommodityCategoryEntity">
        SELECT `id`,
               `category_name`
        FROM commodity_category
        WHERE id = #{id}
    </select>

    <select id="getObjectByNameCC" resultType="net.chenlin.dp.modules.biz.bussiness.entity.CommodityCategoryEntity">
        SELECT `id`, `category_name` FROM commodity_category WHERE category_name = #{category_name}
    </select>

    <select id="getObjectByName" resultType="net.chenlin.dp.modules.biz.bussiness.entity.CommodityEntity">
        SELECT c.`id`,
               c.`name`,
               c.`commodity_info`,
               c.`prize`,
               c.`in_stock`,
               c.`img`,
               c.`org_id`
        FROM commodity c
        WHERE name = #{name}
    </select>


    <update id="update">
        UPDATE commodity
        <set>
            <if test="name != null">`name` = #{name},</if>
            <if test="prize != null">`prize` = #{prize},</if>
            <if test="in_stock != null">`in_stock` = #{in_stock},</if>
            <if test="category_id != null">`category_id` = #{category_id},</if>
            <if test="commodity_info != null">`commodity_info` = #{commodity_info},</if>
            <if test="img != null">`img` = #{img},</if>
            <if test="modify_time != null">`modify_time` = #{modify_time},</if>
        </set>
        WHERE
        id = #{id}
    </update>

    <update id="updateCC">
        UPDATE commodity_category
        <set>
            <if test="category_name != null">`category_name` = #{category_name},</if>
        </set>
        WHERE
        id = #{id}
    </update>

    <delete id="batchRemove">
        DELETE
        FROM
        commodity
        WHERE
        id IN
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="batchRemoveCC">
        DELETE
        FROM
        commodity_category
        WHERE
        id IN
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>