<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.chenlin.dp.modules.biz.bussiness.dao.NoticeMapper">

    <select id="listForPage" resultType="net.chenlin.dp.modules.biz.bussiness.entity.NoticeEntity">
        SELECT
        `id`,
        `content`,
        `status`,
        `title`,
        `create_time` createTime,
        `modify_time` modifyTime,
        `org_id` orgId
        FROM
        notice
        where
        1=1
        <if test="title != null">and `title` like #{title}</if>
        ORDER BY
        id DESC
    </select>

    <insert id="save">
        INSERT INTO notice (`content`,
        `status`,
        `title`,
        `create_time`,
        `modify_time`,
        `org_id`)
        VALUES (#{content},
        #{status},
        #{title},
        #{createTime},
        #{modifyTime},
        #{img},
        #{orgId}
    </insert>

    <select id="getObjectById" resultType="net.chenlin.dp.modules.biz.bussiness.entity.NoticeEntity">
        SELECT `id`,
        `content`,
        `status`,
        `title`,
        `create_time` createTime,
        `modify_time` modifyTime,
        `org_id` orgId
        FROM notice
        WHERE id = #{id}
    </select>

    <select id="getObjectByTitle" resultType="net.chenlin.dp.modules.biz.bussiness.entity.NoticeEntity">
        SELECT `id`,
        `content`,
        `status`,
        `title`,
        `create_time` createTime,
        `modify_time` modifyTime,
        `org_id` orgId
        FROM notice
        WHERE title like #{title}
    </select>


    <update id="update">
        UPDATE notice
        <set>
            <if test="content != null">`content` = #{content},</if>
            <if test="status != null">`status` = #{status},</if>
            <if test="title != null">`title` = #{title},</if>
            <if test="modifyTime != null">`modify_time` = #{modifyTime},</if>
            <if test="orgId != null">`org_id` = #{orgId},</if>
        </set>
        WHERE
        id = #{id}
    </update>

    <delete id="batchRemove">
        DELETE
        FROM
        notice
        WHERE
        id IN
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>