<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.chenlin.dp.modules.biz.bussiness.dao.YyGroupMsgDayMapper">
	
	<select id="listForPage" resultType="net.chenlin.dp.modules.biz.bussiness.entity.YyGroupMsgDayEntity">
		SELECT
			`id`, 
			`group_message_total` groupMessageTotal,
			`create_time` createTime
		FROM
			yy_group_msg_day
		where
		1=1
		<if test="id != null"> and `id` = #{id} </if>
		<if test="groupMessageTotal != null"> and `group_message_total` = #{groupMessageTotal} </if>
		<if test="createTime != null"> and `create_time` = #{createTime} </if>
		ORDER BY
			id DESC
	</select>
	
	<insert id="save">
		INSERT INTO yy_group_msg_day (
			`id`, 
			`group_message_total` groupMessageTotal,
			`create_time` createTime
		)
		VALUES (
			#{id}, 
			#{groupMessageTotal}, 
			#{createTime}
		)
	</insert>
	
	<select id="getObjectById" resultType="net.chenlin.dp.modules.biz.bussiness.entity.YyGroupMsgDayEntity">
		SELECT
			`id`, 
			`group_message_total` groupMessageTotal,
			`create_time` createTime
		FROM
			yy_group_msg_day
		WHERE
			id = #{id}
	</select>
	
	<update id="update">
		UPDATE yy_group_msg_day
	 	<set>
			<if test="groupMessageTotal != null">`group_message_total` = #{groupMessageTotal}, </if>
			<if test="createTime != null">`create_time` = #{createTime}</if>
		</set>
		WHERE
			id = #{id}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			yy_group_msg_day
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>