<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.chenlin.dp.modules.biz.bussiness.dao.YyMOnlineDayMapper">
	
	<select id="listForPage" resultType="net.chenlin.dp.modules.biz.bussiness.entity.YyMOnlineDayEntity">
		SELECT
			`id`, 
			`create_time` createTime, 
			`m_online_number` mOnlineNumber
		FROM
			yy_m_online_day
		where
		1=1
		<if test="id != null"> and `id` = #{id} </if>
		<if test="createTime != null"> and `create_time` = #{createTime} </if>
		<if test="mOnlineNumber != null"> and `m_online_number` = #{mOnlineNumber} </if>
<!--		<if test="ids.size()>0">-->
<!--				and id in-->
<!--				<foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">-->
<!--					#{id}-->
<!--				</foreach>-->
<!--		</if>-->
		ORDER BY
			id DESC
	</select>
	
	<insert id="save">
		INSERT INTO yy_m_online_day (
			`id`, 
			`create_time` createTime, 
			`m_online_number` mOnlineNumber
		)
		VALUES (
			#{id}, 
			#{createTime}, 
			#{mOnlineNumber}
		)
	</insert>
	
	<select id="getObjectById" resultType="net.chenlin.dp.modules.biz.bussiness.entity.YyMOnlineDayEntity">
		SELECT
			`id`, 
			`create_time` createTime, 
			`m_online_number` mOnlineNumber
		FROM
			yy_m_online_day
		WHERE
			id = #{id}
	</select>
	
	<update id="update">
		UPDATE yy_m_online_day
	 	<set>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="mOnlineNumber != null">`m_online_number` = #{mOnlineNumber}</if>
		</set>
		WHERE
			id = #{id}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			yy_m_online_day
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>