<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.chenlin.dp.modules.biz.member.dao.MemberloginlogMapper">

    <select id="listForPage" resultType="net.chenlin.dp.modules.biz.member.entity.MemberloginlogEntity">
        SELECT
        `id`,
        `create_date` createDate,
        `modify_date` modifyDate,
        `ip`,
        `mid`,
        `mnick_name` mnickName,
        `mtel`,
        `device_type` deviceType,
        `device_version` deviceVersion,
        `mhead_pic` mheadPic,
        `username`,
        `ip_addr` ipAddr,
        `org_id` orgId
        FROM
        member_login_log
        where
        1=1
        <if test="id != null">and `id` = #{id}</if>
        <if test="createDate != null">and `create_date` = #{createDate}</if>
        <if test="modifyDate != null">and `modify_date` = #{modifyDate}</if>
        <if test="ip != null">and `ip` = #{ip}</if>
        <if test="mid != null">and `mid` = #{mid}</if>
        <if test="mnickName != null">and `mnick_name` = #{mnickName}</if>
        <if test="mtel != null">and `mtel` = #{mtel}</if>
        <if test="deviceType != null">and `device_type` = #{deviceType}</if>
        <if test="deviceVersion != null">and `device_version` = #{deviceVersion}</if>
        <if test="mheadPic != null">and `mhead_pic` = #{mheadPic}</if>
        <if test="username != null">and `username` = #{username}</if>
        <if test="ipAddr != null">and `ip_addr` = #{ipAddr}</if>
        <if test="orgId != null">and `org_id` = #{orgId}</if>
        <if test="ids != null">
            and `mid` IN
            <foreach item="id" collection="ids" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>

        ORDER BY id DESC
    </select>

    <insert id="save">
        INSERT INTO member_login_log (`id`,
                                    `create_date` createDate,
                                    `modify_date` modifyDate,
                                    `ip`,
                                    `mid`,
                                    `mnick_name` mnickName,
                                    `mtel`,
                                    `device_type` deviceType,
                                    `device_version` deviceVersion,
                                    `mhead_pic` mheadPic,
                                    `username`,
                                    `ip_addr` ipAddr,
        `org_id` orgId)
        VALUES (#{id},
                #{createDate},
                #{modifyDate},
                #{ip},
                #{mid},
                #{mnickName},
                #{mtel},
                #{deviceType},
                #{deviceVersion},
                #{mheadPic},
                #{username},
                #{ipAddr},
                #{org_id})
    </insert>

    <select id="getObjectById" resultType="net.chenlin.dp.modules.biz.member.entity.MemberloginlogEntity">
        SELECT `id`,
               `create_date` createDate,
               `modify_date` modifyDate,
               `ip`,
               `mid`,
               `mnick_name` mnickName,
               `mtel`,
               `device_type` deviceType,
               `device_version` deviceVersion,
               `mhead_pic` mheadPic,
               `username`,
               `ip_addr` ipAddr,
                `org_id` orgId
        FROM member_login_log
        WHERE id = #{id}
    </select>

    <update id="update">
        UPDATE member_login_log
        <set>
            <if test="createDate != null">`create_date` = #{createDate},</if>
            <if test="modifyDate != null">`modify_date` = #{modifyDate},</if>
            <if test="ip != null">`ip` = #{ip},</if>
            <if test="mid != null">`mid` = #{mid},</if>
            <if test="mnickName != null">`mnick_name` = #{mnickName},</if>
            <if test="mtel != null">`mtel` = #{mtel},</if>
            <if test="deviceType != null">`device_type` = #{deviceType},</if>
            <if test="deviceVersion != null">`device_version` = #{deviceVersion},</if>
            <if test="mheadPic != null">`mhead_pic` = #{mheadPic},</if>
            <if test="username != null">`username` = #{username},</if>
            <if test="ipAddr != null">`ip_addr` = #{ipAddr},</if>
        </set>
        WHERE
        id = #{id} and org_id = #{orgId}
    </update>

    <delete id="batchRemove">
        DELETE
        FROM
        member_login_log
        WHERE
        id IN
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getObjectGroupByDate" resultType="net.chenlin.dp.modules.biz.bussiness.entity.YyMOnlineDayEntity">
        SELECT date_format(create_date, '%Y-%m-%d') as createTime,
               count(distinct mid)                  as mOnlineNumber
        FROM member_login_log
        where create_date &gt;= str_to_date(#{startdate}, '%Y-%m-%d')
            and create_date &lt; date_add(str_to_date(#{enddate}, '%Y-%m-%d'), INTERVAL 1 day)
            and org_id = #{org_id}
        group by date_format(create_date, '%Y-%m-%d')
    </select>

    <select id="getLastLoginDate" resultType="net.chenlin.dp.modules.biz.member.entity.MemberloginlogEntity">
        SELECT `id`,
        `create_date` createDate,
        `modify_date` modifyDate,
        `ip`,
        `mid`,
        `mnick_name` mnickName,
        `mtel`,
        `device_type` deviceType,
        `device_version` deviceVersion,
        `mhead_pic` mheadPic,
        `username`,
        `ip_addr` ipAddr,
        `org_id` orgId
        FROM member_login_log
        WHERE mid = #{memberId}
        <if test="mnickName != null">and `mnick_name` = #{mnickName}</if>
        <if test="username != null">and `username` = #{username}</if>
        <if test="ip != null">and `ip` = #{ip}</if>
        <if test="orgId != null">and `org_id` = #{orgId}</if>
        <if test="startdate != null and enddate != null">
            create_date &gt;= str_to_date(#{startDate}, '%Y-%m-%d') and create_date &lt; date_add(str_to_date(#{endDate},
            '%Y-%m-%d'), INTERVAL 1 day)
        </if>
        order by createDate desc limit 1
    </select>

</mapper>