<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.chenlin.dp.modules.biz.appResigned.dao.AppResignedMapper">
	
	<select id="listForPage" resultType="net.chenlin.dp.modules.biz.appResigned.entity.AppResignedEntity">
		SELECT
			`id`, 
			`android_resigned_download_address`, 
			`ios_download_addrss`, 
			`android_download_times`, 
			`ios_download_times`, 
			`app_base_id`, 
			`app_base_name`, 
			`create_time`, 
			`update_time`, 
			`android_resigned_package_name`, 
			`create_by`, 
			`update_by`
		FROM
			app_resigned
		where 1=1
		<if test="androidResignedDownloadAddress != null"> and `android_resigned_download_address` = #{androidResignedDownloadAddress} </if>
		<if test="iosDownloadAddrss != null"> and `ios_download_addrss` = #{iosDownloadAddrss} </if>
		<if test="androidDownloadTimes != null"> and `android_download_times` = #{androidDownloadTimes} </if>
		<if test="iosDownloadTimes != null"> and `ios_download_times` = #{iosDownloadTimes} </if>
		<if test="appBaseId != null"> and `app_base_id` = #{appBaseId} </if>
		<if test="appBaseName != null"> and `app_base_name` = #{appBaseName} </if>
		<if test="createTime != null"> and `create_time` = #{createTime} </if>
		<if test="updateTime != null"> and `update_time` = #{updateTime} </if>
		<if test="androidResignedPackageName != null"> and `android_resigned_package_name` = #{androidResignedPackageName} </if>
		<if test="createBy != null"> and `create_by` = #{createBy} </if>
		<if test="updateBy != null"> and `update_by` = #{updateBy} </if>
		ORDER BY
			id DESC
	</select>
	
	<insert id="save">
		INSERT INTO app_resigned (
			`android_resigned_download_address`, 
			`ios_download_addrss`, 
			`android_download_times`, 
			`ios_download_times`, 
			`app_base_id`, 
			`app_base_name`, 
			`create_time`, 
			`update_time`, 
			`android_resigned_package_name`, 
			`create_by`, 
			`update_by`
		)
		VALUES (
			#{androidResignedDownloadAddress}, 
			#{iosDownloadAddrss}, 
			#{androidDownloadTimes}, 
			#{iosDownloadTimes}, 
			#{appBaseId}, 
			#{appBaseName}, 
			#{createTime}, 
			#{updateTime}, 
			#{androidResignedPackageName}, 
			#{createBy}, 
			#{updateBy}
		)
	</insert>
	
	<select id="getObjectById" resultType="net.chenlin.dp.modules.biz.appResigned.entity.AppResignedEntity">
		SELECT
			`id`, 
			`android_resigned_download_address`, 
			`ios_download_addrss`, 
			`android_download_times`, 
			`ios_download_times`, 
			`app_base_id`, 
			`app_base_name`, 
			`create_time`, 
			`update_time`, 
			`android_resigned_package_name`, 
			`create_by`, 
			`update_by`
		FROM
			app_resigned
		WHERE
			id = #{id}
	</select>
	
	<update id="update">
		UPDATE app_resigned
	 	<set>
			<if test="androidResignedDownloadAddress != null">`android_resigned_download_address` = #{androidResignedDownloadAddress}, </if>
			<if test="iosDownloadAddrss != null">`ios_download_addrss` = #{iosDownloadAddrss}, </if>
			<if test="androidDownloadTimes != null">`android_download_times` = #{androidDownloadTimes}, </if>
			<if test="iosDownloadTimes != null">`ios_download_times` = #{iosDownloadTimes}, </if>
			<if test="appBaseId != null">`app_base_id` = #{appBaseId}, </if>
			<if test="appBaseName != null">`app_base_name` = #{appBaseName}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="androidResignedPackageName != null">`android_resigned_package_name` = #{androidResignedPackageName}, </if>
			<if test="createBy != null">`create_by` = #{createBy}, </if>
			<if test="updateBy != null">`update_by` = #{updateBy}</if>
		</set>
		WHERE
			id = #{id}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			app_resigned
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>


	<select id="getLastResigned" resultType="net.chenlin.dp.modules.biz.appResigned.entity.AppResignedEntity">
		SELECT
			`id`,
			`android_resigned_download_address`,
			`ios_download_addrss`,
			`android_download_times`,
			`ios_download_times`,
			`app_base_id`,
			`app_base_name`,
			`create_time`,
			`update_time`,
			`android_resigned_package_name`,
			`create_by`,
			`update_by`
		FROM
			app_resigned
		WHERE
			app_base_name = #{appName}
		order by id desc
		limit 1
	</select>

	<update id="increaseDownloadTimes">
		UPDATE app_resigned
		<set>
			<if test="androidDownloadTimes != null">`android_download_times` =`android_download_times` + #{androidDownloadTimes}, </if>
			<if test="iosDownloadTimes != null">`ios_download_times` = `ios_download_times`+ #{iosDownloadTimes}, </if>
		</set>
		WHERE
		id = #{id}
	</update>

<!--	<select id="getObjectByAppName" resultType="net.chenlin.dp.modules.biz.appResigned.entity.AppResignedEntity">
		SELECT
			`id`,
			`app_base_id`,
			`app_base_name`,
			`android_resigned_package_name`
		FROM
			app_resigned
		WHERE
			app_base_name = #{appName}
	</select>-->

</mapper>