<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.chenlin.dp.modules.biz.site.dao.DefaultFriendMapper">
	
	<select id="listForPage" resultType="net.chenlin.dp.modules.biz.site.entity.DefaultFriendEntity">
		SELECT
			`id`, 
			`friend_id` friendId,
			`note`, 
			`send_hello_msg` sendHelloMsg
		FROM
			default_friend
		where
		1=1
		<if test="id != null"> and `id` = #{id} </if>
		<if test="friendId != null"> and `friend_id` = #{friendId} </if>
		<if test="note != null"> and `note` = #{note} </if>
		<if test="sendHelloMsg != null"> and `send_hello_msg` = #{sendHelloMsg} </if>
		ORDER BY
			id DESC
	</select>
	
	<insert id="save">
		INSERT INTO default_friend (
			`id`, 
			`friend_id` friendId,
			`note`, 
			`send_hello_msg` sendHelloMsg
		)
		VALUES (
			#{id}, 
			#{friendId},
			#{note}, 
			#{sendHelloMsg}
		)
	</insert>
	
	<select id="getObjectById" resultType="net.chenlin.dp.modules.biz.site.entity.DefaultFriendEntity">
		SELECT
			`id`, 
			`friend_id` friendId,
			`note`, 
			`send_hello_msg` sendHelloMsg
		FROM
			default_friend
		WHERE
			id = #{id}
	</select>
	
	<update id="update">
		UPDATE default_friend
	 	<set>
			<if test="friendId != null">`friend_id` = #{friendId}, </if>
			<if test="note != null">`note` = #{note}, </if>
			<if test="sendHelloMsg != null">`send_hello_msg` = #{sendHelloMsg}</if>
		</set>
		WHERE
			id = #{id}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			default_friend
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>