<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.chenlin.dp.modules.biz.site.dao.DefaultEmoticonMapper">
	
	<select id="listForPage" resultType="net.chenlin.dp.modules.biz.site.entity.DefaultEmoticonEntity">
		SELECT
			`id`, 
			`img_addres` imgAddres,
			`up_time` upTime,
			`sort`
		FROM
			default_emoticon
		where
		1=1
		<if test="id != null"> and `id` = #{id} </if>
		<if test="imgAddres != null"> and `img_addres` = #{imgAddres} </if>
		<if test="upTime != null"> and `up_time` = #{upTime} </if>
		<if test="sort != null"> and `sort` = #{sort} </if>
		ORDER BY
			id DESC
	</select>
	
	<insert id="save">
		INSERT INTO default_emoticon (
			`id`, 
			`img_addres` imgAddres,
			`up_time` upTime,
			`sort`
		)
		VALUES (
			#{id}, 
			#{img_addres}, 
			#{up_time}, 
			#{sort}
		)
	</insert>
	
	<select id="getObjectById" resultType="net.chenlin.dp.modules.biz.site.entity.DefaultEmoticonEntity">
		SELECT
			`id`, 
			`img_addres` imgAddres,
			`up_time` upTime,
			`sort`
		FROM
			default_emoticon
		WHERE
			id = #{id}
	</select>
	
	<update id="update">
		UPDATE default_emoticon
	 	<set>
			<if test="imgAddres != null">`img_addres` = #{imgAddres}, </if>
			<if test="upTime != null">`up_time` = #{upTime}, </if>
			<if test="sort != null">`sort` = #{sort}</if>
		</set>
		WHERE
			id = #{id}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			default_emoticon
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>