<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.chenlin.dp.modules.biz.site.dao.DefaultRoomMapper">
	
	<select id="listForPage" resultType="net.chenlin.dp.modules.biz.site.entity.DefaultRoomEntity">
		SELECT
			`org_id` orgId,
			`room_id` roomId
		FROM
			default_room
		where
		1=1
		<if test="orgId != null"> and `org_id` = #{orgId} </if>
		<if test="roomId != null"> and `room_id` = #{roomId} </if>
		ORDER BY
			id DESC
	</select>
	
	<insert id="save">
		INSERT INTO default_room (
			`org_id` orgId,
			`room_id` roomId
		)
		VALUES (
			#{orgId},
			#{roomId}
		)
	</insert>
	
	<select id="getObjectById" resultType="net.chenlin.dp.modules.biz.site.entity.DefaultRoomEntity">
		SELECT
			`org_id` orgId,
			`room_id` roomId
		FROM
			default_room
		WHERE
			org_id = #{orgId}
	</select>
	
	<update id="update">
		UPDATE default_room
	 	<set>
			<if test="room_id != null">`room_id` = #{roomId}</if>
		</set>
		WHERE
			org_id = #{orgId}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			default_room
		WHERE
			org_id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>