<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.chenlin.dp.modules.biz.site.dao.FunctionConfigMapper">
	
	<select id="listForPage" resultType="net.chenlin.dp.modules.biz.site.entity.FunctionConfigEntity">
		SELECT
			`id`, 
			`org_id`,
			`web_app_regist`, 
			`web_app_ip_show`, 
			`max_login_counts`, 
			`safe_login`, 
			`safe_login_retry_counts`, 
			`safe_login_apply_blacklist`, 
			`add_friend`, 
			`create_room`, 
			`phone_verify`, 
			`out_room_del_message`, 
			`miss_room_maneger_msg`
		FROM
			function_config
		where
		1=1
		<if test="id != null"> and `id` = #{id} </if>
		<if test="org_id != null"> and `org_id` = #{org_id} </if>
		<if test="web_app_regist != null"> and `web_app_regist` = #{web_app_regist} </if>
		<if test="web_app_ip_show != null"> and `web_app_ip_show` = #{web_app_ip_show} </if>
		<if test="max_login_counts != null"> and `max_login_counts` = #{max_login_counts} </if>
		<if test="safe_login != null"> and `safe_login` = #{safe_login} </if>
		<if test="safe_login_retry_counts != null"> and `safe_login_retry_counts` = #{safe_login_retry_counts} </if>
		<if test="safe_login_apply_blacklist != null"> and `safe_login_apply_blacklist` = #{safe_login_apply_blacklist} </if>
		<if test="add_friend != null"> and `add_friend` = #{add_friend} </if>
		<if test="create_room != null"> and `create_room` = #{create_room} </if>
		<if test="phone_verify != null"> and `phone_verify` = #{phone_verify} </if>
		<if test="out_room_del_message != null"> and `out_room_del_message` = #{out_room_del_message} </if>
		<if test="miss_room_maneger_msg != null"> and `miss_room_maneger_msg` = #{miss_room_maneger_msg} </if>
		ORDER BY
			id DESC
	</select>
	
	<insert id="save">
		INSERT INTO function_config (
			`id`, 
			`org_id`,
			`web_app_regist`, 
			`web_app_ip_show`, 
			`max_login_counts`, 
			`safe_login`, 
			`safe_login_retry_counts`, 
			`safe_login_apply_blacklist`, 
			`add_friend`, 
			`create_room`, 
			`phone_verify`, 
			`out_room_del_message`, 
			`miss_room_maneger_msg`
		)
		VALUES (
			#{id}, 
			#{org_id},
			#{web_app_regist}, 
			#{web_app_ip_show}, 
			#{max_login_counts}, 
			#{safe_login}, 
			#{safe_login_retry_counts}, 
			#{safe_login_apply_blacklist}, 
			#{add_friend}, 
			#{create_room}, 
			#{phone_verify}, 
			#{out_room_del_message}, 
			#{miss_room_maneger_msg}
		)
	</insert>
	
	<select id="getObjectById" resultType="net.chenlin.dp.modules.biz.site.entity.FunctionConfigEntity">
		SELECT
			`id`, 
			`org_id`,
			`web_app_regist`, 
			`web_app_ip_show`, 
			`max_login_counts`, 
			`safe_login`, 
			`safe_login_retry_counts`, 
			`safe_login_apply_blacklist`, 
			`add_friend`, 
			`create_room`, 
			`phone_verify`, 
			`out_room_del_message`, 
			`miss_room_maneger_msg`
		FROM
			function_config
		WHERE
			id = #{id}
	</select>
	
	<update id="update">
		UPDATE function_config
	 	<set>
			<if test="org_id != null">`org_id` = #{org_id}, </if>
			<if test="web_app_regist != null">`web_app_regist` = #{web_app_regist}, </if>
			<if test="web_app_ip_show != null">`web_app_ip_show` = #{web_app_ip_show}, </if>
			<if test="max_login_counts != null">`max_login_counts` = #{max_login_counts}, </if>
			<if test="safe_login != null">`safe_login` = #{safe_login}, </if>
			<if test="safe_login_retry_counts != null">`safe_login_retry_counts` = #{safe_login_retry_counts}, </if>
			<if test="safe_login_apply_blacklist != null">`safe_login_apply_blacklist` = #{safe_login_apply_blacklist}, </if>
			<if test="add_friend != null">`add_friend` = #{add_friend}, </if>
			<if test="create_room != null">`create_room` = #{create_room}, </if>
			<if test="phone_verify != null">`phone_verify` = #{phone_verify}, </if>
			<if test="out_room_del_message != null">`out_room_del_message` = #{out_room_del_message}, </if>
			<if test="miss_room_maneger_msg != null">`miss_room_maneger_msg` = #{miss_room_maneger_msg}</if>
		</set>
		WHERE
			id = #{id}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			function_config
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>