<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.chenlin.dp.modules.biz.site.dao.FunctionConfigMapper">
	
	<select id="listForPage" resultType="net.chenlin.dp.modules.biz.site.entity.FunctionConfigEntity">
		SELECT
			`id`, 
			`org_id` orgId,
			`web_app_regist` webAppRegist, 
			`web_app_ip_show` webAppIpShow, 
			`max_login_counts` maxLoginCounts, 
			`safe_login` safeLogin, 
			`safe_login_retry_counts` safeLoginRetryCounts, 
			`safe_login_apply_blacklist` safeLoginApplyBlacklist, 
			`add_friend` addFriend, 
			`create_room` createRoom, 
			`phone_verify` phoneVerify, 
			`out_room_del_message` outRoomDelMessage, 
			`miss_room_maneger_msg` missRoomManegerMsg,
			`is_frozen` isFrozen,
			`ip_black` ipBlack,
			`ip_white` ipWhite,
			`out_link_status` outLinkStatus
		FROM
			function_config
		where
		1=1
		<if test="id != null"> and `id` = #{id} </if>
		<if test="orgId != null"> and `org_id` = #{orgId} </if>
		<if test="webAppRegist != null"> and `web_app_regist` = #{webAppRegist} </if>
		<if test="webAppIpShow != null"> and `web_app_ip_show` = #{webAppIpShow} </if>
		<if test="maxLoginCounts != null"> and `max_login_counts` = #{maxLoginCounts} </if>
		<if test="safeLogin != null"> and `safe_login` = #{safeLogin} </if>
		<if test="safeLoginRetryCounts != null"> and `safe_login_retry_counts` = #{safeLoginRetryCounts} </if>
		<if test="safeLoginApplyBlacklist != null"> and `safe_login_apply_blacklist` = #{safeLoginApplyBlacklist} </if>
		<if test="addFriend != null"> and `add_friend` = #{addFriend} </if>
		<if test="createRoom != null"> and `create_room` = #{createRoom} </if>
		<if test="phoneVerify != null"> and `phone_verify` = #{phoneVerify} </if>
		<if test="outRoomDelMessage != null"> and `out_room_del_message` = #{outRoomDelMessage} </if>
		<if test="missRoomManegerMsg != null"> and `miss_room_maneger_msg` = #{missRoomManegerMsg} </if>
		<if test="isFrozen != null">`is_frozen` = #{isFrozen}</if>
		<if test="ipBlack != null">`ip_black` = #{ipBlack}</if>
		<if test="ipWhite != null">`ip_white` = #{ipWhite}</if>
		<if test="outLinkStatus != null">`out_link_status` = #{outLinkStatus}</if>
		ORDER BY
			id DESC
	</select>
	
	<insert id="save">
		INSERT INTO function_config (
			`id`, 
			`org_id` orgId,
			`web_app_regist` webAppRegist, 
			`web_app_ip_show` webAppIpShow, 
			`max_login_counts` maxLoginCounts, 
			`safe_login` safeLogin, 
			`safe_login_retry_counts` safeLoginRetryCounts, 
			`safe_login_apply_blacklist` safeLoginApplyBlacklist, 
			`add_friend` addFriend, 
			`create_room` createRoom, 
			`phone_verify` phoneVerify, 
			`out_room_del_message` outRoomDelMessage, 
			`miss_room_maneger_msg` missRoomManegerMsg,
			`is_frozen` isFrozen,
			`ip_black` ipBlack,
			`ip_white` ipWhite,
			`out_link_status` outLinkStatus
		)
		VALUES (
			#{id}, 
			#{orgId},
			#{webAppRegist}, 
			#{webAppIpShow}, 
			#{maxLoginCounts}, 
			#{safeLogin}, 
			#{safeLoginRetryCounts}, 
			#{safeLoginApplyBlacklist}, 
			#{addFriend}, 
			#{createRoom}, 
			#{phoneVerify}, 
			#{outRoomDelMessage}, 
			#{missRoomManegerMsg},
			#{isFrozen},
			#{ipBlack},
			#{ipWhite},
			#{outLinkStatus}
		)
	</insert>
	
	<select id="getObjectById" resultType="net.chenlin.dp.modules.biz.site.entity.FunctionConfigEntity">
		SELECT
			`id`, 
			`org_id` orgId,
			`web_app_regist` webAppRegist, 
			`web_app_ip_show` webAppIpShow, 
			`max_login_counts` maxLoginCounts, 
			`safe_login` safeLogin, 
			`safe_login_retry_counts` safeLoginRetryCounts, 
			`safe_login_apply_blacklist` safeLoginApplyBlacklist, 
			`add_friend` addFriend, 
			`create_room` createRoom, 
			`phone_verify` phoneVerify, 
			`out_room_del_message` outRoomDelMessage, 
			`miss_room_maneger_msg` missRoomManegerMsg,
			`is_frozen` isFrozen,
			`ip_black` ipBlack,
			`ip_white` ipWhite,
			`out_link_status` outLinkStatus
		FROM
			function_config
		WHERE
			id = #{id}
	</select>
	
	<update id="update">
		UPDATE function_config
	 	<set>
			<if test="orgId != null">`org_id` = #{orgId}, </if>
			<if test="webAppRegist != null">`web_app_regist` = #{webAppRegist}, </if>
			<if test="webAppIpShow != null">`web_app_ip_show` = #{webAppIpShow}, </if>
			<if test="maxLoginCounts != null">`max_login_counts` = #{maxLoginCounts}, </if>
			<if test="safeLogin != null">`safe_login` = #{safeLogin}, </if>
			<if test="safeLoginRetryCounts != null">`safe_login_retry_counts` = #{safeLoginRetryCounts}, </if>
			<if test="safeLoginApplyBlacklist != null">`safe_login_apply_blacklist` = #{safeLoginApplyBlacklist}, </if>
			<if test="addFriend != null">`add_friend` = #{addFriend}, </if>
			<if test="createRoom != null">`create_room` = #{createRoom}, </if>
			<if test="phoneVerify != null">`phone_verify` = #{phoneVerify}, </if>
			<if test="outRoomDelMessage != null">`out_room_del_message` = #{outRoomDelMessage}, </if>
			<if test="missRoomManegerMsg != null">`miss_room_maneger_msg` = #{missRoomManegerMsg},</if>
			<if test="isFrozen != null">`is_frozen` = #{isFrozen},</if>
			<if test="ipBlack != null">`ip_black` = #{ipBlack},</if>
			<if test="ipWhite != null">`ip_white` = #{ipWhite}</if>
			<if test="outLinkStatus != null">`out_link_status` = #{outLinkStatus}</if>
		</set>
		WHERE
			id = #{id}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			function_config
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>