<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.chenlin.dp.modules.biz.site.dao.HomepageMapper">
	
	<select id="listForPage" resultType="net.chenlin.dp.modules.biz.site.entity.HomepageEntity">
		SELECT
			`id`, 
			`name`, 
			`icon`, 
			`link`, 
			`paramter_open`, 
			`rule`, 
			`sort`
		FROM
			homepage
		where
		1=1
		<if test="id != null"> and `id` = #{id} </if>
		<if test="name != null"> and `name` = #{name} </if>
		<if test="icon != null"> and `icon` = #{icon} </if>
		<if test="link != null"> and `link` = #{link} </if>
		<if test="paramter_open != null"> and `paramter_open` = #{paramter_open} </if>
		<if test="rule != null"> and `rule` = #{rule} </if>
		<if test="sort != null"> and `sort` = #{sort} </if>
		ORDER BY
			id DESC
	</select>
	
	<insert id="save">
		INSERT INTO homepage (
			`id`, 
			`name`, 
			`icon`, 
			`link`, 
			`paramter_open`, 
			`rule`, 
			`sort`
		)
		VALUES (
			#{id}, 
			#{name}, 
			#{icon}, 
			#{link}, 
			#{paramter_open}, 
			#{rule}, 
			#{sort}
		)
	</insert>
	
	<select id="getObjectById" resultType="net.chenlin.dp.modules.biz.site.entity.HomepageEntity">
		SELECT
			`id`, 
			`name`, 
			`icon`, 
			`link`, 
			`paramter_open`, 
			`rule`, 
			`sort`
		FROM
			homepage
		WHERE
			id = #{id}
	</select>
	
	<update id="update">
		UPDATE homepage
	 	<set>
			<if test="name != null">`name` = #{name}, </if>
			<if test="icon != null">`icon` = #{icon}, </if>
			<if test="link != null">`link` = #{link}, </if>
			<if test="paramter_open != null">`paramter_open` = #{paramter_open}, </if>
			<if test="rule != null">`rule` = #{rule}, </if>
			<if test="sort != null">`sort` = #{sort}</if>
		</set>
		WHERE
			id = #{id}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			homepage
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>