<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.chenlin.dp.modules.biz.ipwhite.dao.IpwhiteMapper">
	
	<select id="listForPage" resultType="net.chenlin.dp.modules.biz.ipwhite.entity.IpwhiteEntity">
		SELECT
			`id`, 
			`ip_address`, 
			`ip_address_start`, 
			`status`, 
			`note`, 
			`type`
		FROM
			ipwhite
		where
		1=1
		<if test="id != null"> and `id` = #{id} </if>
		<if test="ip_address != null"> and `ip_address` = #{ip_address} </if>
		<if test="ip_address_start != null"> and `ip_address_start` = #{ip_address_start} </if>
		<if test="status != null"> and `status` = #{status} </if>
		<if test="note != null"> and `note` = #{note} </if>
		<if test="type != null"> and `type` = #{type} </if>
		ORDER BY
			id DESC
	</select>
	
	<insert id="save">
		INSERT INTO ipwhite (
			`id`, 
			`ip_address`, 
			`ip_address_start`, 
			`status`, 
			`note`, 
			`type`
		)
		VALUES (
			#{id}, 
			#{ip_address}, 
			#{ip_address_start}, 
			#{status}, 
			#{note}, 
			#{type}
		)
	</insert>
	
	<select id="getObjectById" resultType="net.chenlin.dp.modules.biz.ipwhite.entity.IpwhiteEntity">
		SELECT
			`id`, 
			`ip_address`, 
			`ip_address_start`, 
			`status`, 
			`note`, 
			`type`
		FROM
			ipwhite
		WHERE
			id = #{id}
	</select>
	
	<update id="update">
		UPDATE ipwhite
	 	<set>
			<if test="ip_address != null">`ip_address` = #{ip_address}, </if>
			<if test="ip_address_start != null">`ip_address_start` = #{ip_address_start}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="note != null">`note` = #{note}, </if>
			<if test="type != null">`type` = #{type}</if>
		</set>
		WHERE
			id = #{id}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			ipwhite
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>