<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.chenlin.dp.modules.biz.room.dao.MessageHistoryMapper">

	<select id="listForPage" resultType="net.chenlin.dp.modules.biz.room.entity.MessageHistoryEntity">
		SELECT
		`id`,
		`uuid`,
		`date`,
		`from_headpic` fromHeadpic,
		`old_txt` oldTxt,
		`to_uid` toUid,
		`to_groupid` toGroupid,
		`chat_id` chatId,
		`psr`,
		`txt`,
		`aite`,
		`from_uid` fromUid,
		`from_name` fromName,
		`simple_content` simpleContent,
		`create_date` createDate,
		`modify_date` modifyDate
		FROM
		message_history
		where
		1=1
		<if test="id != null"> and `id` = #{id} </if>
		<if test="uuid != null"> and `uuid` = #{uuid} </if>
		<if test="date != null"> and `date` = #{date} </if>
		<if test="fromHeadpic != null"> and `from_headpic` = #{fromHeadpic} </if>
		<if test="oldTxt != null"> and `old_txt` = #{oldTxt} </if>
		<if test="toUid != null"> and `to_uid` = #{toUid} </if>
		<if test="toGroupid != null"> and `to_groupid` = #{toGroupid} </if>
		<if test="chatId != null"> and `chat_id` = #{chatId} </if>
		<if test="psr != null"> and `psr` = #{psr} </if>
		<if test="txt != null"> and `txt` like  concat('%',#{txt},'%') </if>
		<if test="aite != null"> and `aite` = #{aite} </if>
		<if test="fromUid != null"> and `from_uid` = #{fromUid} </if>
		<if test="fromName != null"> and `from_name` like  concat('%',#{fromName},'%')  </if>
		<if test="simpleContent != null"> and `simple_content` = #{simpleContent} </if>
		<if test="startDate != null"> and `create_date` &gt;=  str_to_date(#{startDate}, '%Y-%m-%d %H:%i:%s') </if>
		<if test="endDate != null"> and `create_date` &lt;  str_to_date(#{endDate}, '%Y-%m-%d %H:%i:%s') </if>
		<if test="modifyDate != null"> and `modify_date` = #{modifyDate} </if>
		<if test="orgId != null"> and `org_id` = #{orgId} </if>
		ORDER BY
		id DESC
	</select>
	
	<insert id="save">
		INSERT INTO message_history (
			`id`, 
			`uuid`, 
			`date`, 
			`from_headpic` fromHeadpic, 
			`old_txt` oldTxt, 
			`to_uid` toUid,
			`chat_id` chatId, 
			`psr`, 
			`txt`, 
			`aite`, 
			`from_uid` fromUid, 
			`from_name` fromName, 
			`simple_content` simpleContent, 
			`create_date` createDate, 
			`modify_date` modifyDate
		)
		VALUES (
			#{id}, 
			#{uuid}, 
			#{date}, 
			#{fromHeadpic}, 
			#{oldTxt}, 
			#{toUid}, 
			#{chatid}, 
			#{psr}, 
			#{txt}, 
			#{aite}, 
			#{fromUid}, 
			#{fromName}, 
			#{simpleContent},
			#{createDate}, 
			#{modifyDate}
		)
	</insert>
	
	<select id="getObjectById" resultType="net.chenlin.dp.modules.biz.room.entity.MessageHistoryEntity">
		SELECT
			`id`, 
			`uuid`, 
			`date`, 
			`from_headpic` fromHeadpic, 
			`old_txt` oldTxt, 
			`to_uid` toUid,
			`chat_id` chatId, 
			`psr`, 
			`txt`, 
			`aite`, 
			`from_uid` fromUid, 
			`from_name` fromName, 
			`simple_content` simpleContent, 
			`create_date` createDate, 
			`modify_date` modifyDate
		FROM
			message_history
		WHERE
			id = #{id}
	</select>
	
	<update id="update">
		UPDATE message_history
	 	<set>
			<if test="uuid != null">`uuid` = #{uuid}, </if>
			<if test="date != null">`date` = #{date}, </if>
			<if test="fromHeadpic != null">`from_headpic` = #{fromHeadpic}, </if>
			<if test="oldTxt != null">`old_txt` = #{oldTxt}, </if>
			<if test="toUid != null">`to_uid` = #{toUid}, </if>
			<if test="chatId != null">`chat_id` = #{chatId}, </if>
			<if test="psr != null">`psr` = #{psr}, </if>
			<if test="txt != null">`txt` = #{txt}, </if>
			<if test="aite != null">`aite` = #{aite}, </if>
			<if test="fromUid != null">`from_uid` = #{fromUid}, </if>
			<if test="fromName != null">`from_name` = #{fromName}, </if>
			<if test="simpleContent != null">`simple_content` = #{simpleContent}, </if>
			<if test="createDate != null">`create_date` = #{createDate}, </if>
			<if test="modifyDate != null">`modify_date` = #{modifyDate}</if>
		</set>
		WHERE
			id = #{id}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			message_history
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<delete id="batchRemoveRoomMsg">
		DELETE
		FROM
		message_history
		WHERE
		toGroupid IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>


	<select id="getObjectGroupMessageGroupByDate" resultType="net.chenlin.dp.modules.biz.bussiness.entity.YyGroupMsgDayEntity">
		SELECT date_format(create_date, '%Y-%m-%d') as create_time,
			   count(to_groupid) as group_message_total
		FROM message_history
		where create_date &gt;=  str_to_date(#{startDate}, '%Y-%m-%d')
		  and create_date &lt; date_add(str_to_date(#{endDate}, '%Y-%m-%d'),  INTERVAL 1 day)
		  and to_groupid is not null
		  and org_id = #{orgId}
		group by date_format(create_date, '%Y-%m-%d')
	</select>

	<select id="getObjectPersonalMessageGroupByDate" resultType="net.chenlin.dp.modules.biz.bussiness.entity.YyPersonalMsgDayEntity">
		SELECT date_format(create_date, '%Y-%m-%d') as create_time,
			   count(to_uid) as personal_message_total
		FROM message_history
		where create_date &gt;=  str_to_date(#{startDate}, '%Y-%m-%d')
		  and create_date &lt; date_add(str_to_date(#{endDate}, '%Y-%m-%d'),  INTERVAL 1 day)
		  and to_uid is not null
		  and org_id = #{orgId}
		group by date_format(create_date, '%Y-%m-%d')
	</select>

	<delete id="deleteByFromUid">
        DELETE
        FROM
        message_history
        WHERE
        from_uid= #{uid}
        or to_uid= #{uid}
    </delete>

	<select id="getGroupMessageTotal" resultType="java.lang.Long">
		SELECT
			count(to_groupid)
		FROM
			message_history
		where
		to_groupid is not null
			and org_id = #{orgId}
	</select>

	<select id="getPersonalMessageTotal" resultType="java.lang.Long">
		SELECT
			   count(to_uid)
		FROM
		     message_history
		where
			to_uid is not null
			and org_id = #{orgId}
	</select>

</mapper>