<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.chenlin.dp.modules.biz.room.dao.RoomMapper">

	<resultMap id="roomMmemberResult" type="net.chenlin.dp.modules.biz.room.entity.RoomEntity">
		<id column="id" property="id" />
		<id column="name" property="name" />
		<id column="ownerName" property="ownerName" />
		<id column="org_id" property="org_id" />
		<!-- 一对多的关系 -->
		<!-- property: 指的是集合属性的值,对应类中的属性名 ofType：指的是集合中元素的类型 -->
		<collection property="members" ofType="net.chenlin.dp.modules.biz.member.entity.MemberEntity">
			<id column="id" property="id" />
			<result column="nickname" property="nickname" />
		</collection>
	</resultMap>
	
	<select id="listForPage" resultType="net.chenlin.dp.modules.biz.room.entity.RoomEntity">
		SELECT
			r.`id`,
			r.`create_date` createDate,
			r.`modify_date` modifyDate,
			r.`descri`,
			r.`head_img` headImg,
			r.`name`,
			r.`opener_price` openerPrice,
			r.`send_price` sendPrice,
			r.`status`,
			r.`control_game` controlGame,
			r.`control_model` controlModel,
			r.`game_type` gameType,
			r.`limit_num` limitNum,
			r.`open_fee_add` openFeeAdd,
			r.`open_fee_sum` openFeeSum,
			r.`owner`,
			r.`player_win_rate_s1` playerWinRateS1,
			r.`psw`,
			r.`send_count` sendCount,
			r.`send_fee_add` sendFeeAdd,
			r.`send_fee_sum` sendFeeSum,
			r.``un_dead` unDead,`,
			r.`player_open_win_rate_s1` playerOpenWinRateS1,
			r.`player_send_win_rate_s1` playerSendWinRateS1,
			r.`room_id` roomId,
			r.`props`,
			r.`subname`,
			r.`fixed_robot_ids` fixedRobotIds,
			r.`win_fee_add` winFeeAdd,
			r.`win_fee_sum` winFeeSum,
			r.`rule_pic` rulePic,
			r.`game_status` gameStatus,
			r.`end_date` endDate,
			r.`owner_uuid` ownerUuid,
			r.`independence`,
			r.`agent_red_fan_dian` agentRedFanDian,
			r.`max_robot_count` maxRobotCount,
			r.`open_red_delay_end` openRedDelayEnd,
			r.`open_red_delay_start` openRedDelayStart,
			r.`fateqq_codepay_id` fateqqCodepayId,
			r.`fateqq_key` fateqqKey,
			r.`fateqq_token` fateqqToken,
			r.`domain`,
			r.`robot_rule` robotRule,
			r.`member_ids` memberIds,
			r.`stopspeak_member_ids`,
			r.`member_mgr_ids` memberMgrIds,
			r.`yaoqing_able` yaoqingAble,
			r.`yaoqing_audit_able` yaoqingAuditAble,
			r.`use_custom_headpic` useCustomHeadpic,
			r.`org_id` orgId,
			m.`nick_name` ownerName
		FROM
			room r left join member m on r.owner_UUID=m.id
		where
		1=1
		<if test="id != null"> and `id` = #{id} </if>
		<if test="createDate != null"> and `create_date` = #{createDate} </if>
		<if test="modifyDate != null"> and `modify_date` = #{modifyDate} </if>
		<if test="descri != null"> and `descri` = #{descri} </if>
		<if test="headImg != null"> and `head_img` = #{headImg} </if>
		<if test="name != null and name != ''"> and `name` = #{name} </if>
		<if test="openerPrice != null"> and `opener_price` = #{openerPrice} </if>
		<if test="sendPrice != null"> and `sendPrice` = #{sendPrice} </if>
		<if test="status != null"> and `status` = #{status} </if>
		<if test="controlGame != null"> and `control_game` = #{controlGame} </if>
		<if test="controlModel != null"> and `control_model` = #{controlModel} </if>
		<if test="gameType != null"> and `game_type` = #{gameType} </if>
		<if test="limitNum != null"> and `limit_num` = #{limitNum} </if>
		<if test="openFeeAdd != null"> and `open_fee_add` = #{openFeeAdd} </if>
		<if test="openFeeSum != null"> and `open_fee_sum` = #{openFeeSum} </if>
		<if test="owner != null"> and `owner` = #{owner} </if>
		<if test="playerWinRateS1 != null"> and `player_win_rate_s1` = #{playerWinRateS1} </if>
		<if test="psw != null"> and `psw` = #{psw} </if>
		<if test="sendCount != null"> and `send_count` = #{sendCount} </if>
		<if test="sendFeeAdd != null"> and `send_fee_add` = #{sendFeeAdd} </if>
		<if test="sendFeeSum != null"> and `send_fee_sum` = #{sendFeeSum} </if>
		<if test="unDead != null"> and `un_dead` = #{unDead} </if>
		<if test="playerOpenWinRateS1 != null"> and `player_open_win_rate_s1` = #{playerOpenWinRateS1} </if>
		<if test="playerSendWinRateS1 != null"> and `player_send_win_rate_s1` = #{playerSendWinRateS1} </if>
		<if test="roomId != null"> and `room_id` = #{roomId} </if>
		<if test="props != null"> and `props` = #{props} </if>
		<if test="subname != null"> and `subname` = #{subname} </if>
		<if test="fixedRobotIds != null"> and `fixed_robot_ids` = #{fixedRobotIds} </if>
		<if test="winFeeAdd != null"> and `win_fee_add` = #{winFeeAdd} </if>
		<if test="winFeeSum != null"> and `win_fee_sum` = #{winFeeSum} </if>
		<if test="rulePic != null"> and `rule_pic` = #{rulePic} </if>
		<if test="gameStatus != null"> and `game_status` = #{gameStatus} </if>
		<if test="endDate != null"> and `end_date` = #{endDate} </if>
		<if test="ownerUuid != null"> and `owner_uuid` = #{ownerUuid} </if>
		<if test="independence != null"> and `independence` = #{independence} </if>
		<if test="agentRedFanDian != null"> and `agent_red_fan_dian` = #{agentRedFanDian} </if>
		<if test="maxRobotCount != null"> and `max_robot_count` = #{maxRobotCount} </if>
		<if test="openRedDelayEnd != null"> and `open_red_delay_end` = #{openRedDelayEnd} </if>
		<if test="openRedDelayStart != null"> and `open_red_delay_start` = #{openRedDelayStart} </if>
		<if test="fateqqCodepayId != null"> and `fateqq_codepay_id` = #{fateqqCodepayId} </if>
		<if test="fateqqKey != null"> and `fateqq_key` = #{fateqqKey} </if>
		<if test="fateqqToken != null"> and `fateqq_token` = #{fateqqToken} </if>
		<if test="domain != null"> and `domain` = #{domain} </if>
		<if test="robotRule != null"> and `robot_rule` = #{robotRule} </if>
		<if test="memberIds != null"> and `member_ids` = #{memberIds} </if>
		<if test="stopspeakMemberIds != null"> and `stopspeak_member_ids` = #{stopspeakMemberIds} </if>
		<if test="memberMgrIds != null"> and `member_mgr_ids` = #{memberMgrIds} </if>
		<if test="yaoqingAble != null"> and `yaoqing_able` = #{yaoqingAble} </if>
		<if test="yaoqingAuditAble != null"> and `yaoqing_audit_able` = #{yaoqingAuditAble} </if>
		<if test="useCustomHeadpic != null"> and `use_custom_headpic` = #{useCustomHeadpic} </if>
		<if test="orgId != null"> and r.`org_id` = #{orgId} </if>
		<if test="ownerName != null and ownerName != ''"> and m.`nick_name` = #{ownerName} </if>
		ORDER BY
			id DESC
	</select>

	<insert id="save">
		INSERT INTO room (
			`id`,
			`create_date` createDate,
			`modify_date` modifyDate,
			`descri`,
			`head_img` headImg,
			`name`,
			`opener_price` openerPrice,
			`send_price` sendPrice,
			`status`,
			`control_game` controlGame,
			`control_model` controlModel,
			`game_type` gameType,
			`limit_num` limitNum,
			`open_fee_add` openFeeAdd,
			`open_fee_sum` openFeeSum,
			`owner`,
			`player_win_rate_s1` playerWinRateS1,
			`psw`,
			`send_count` sendCount,
			`send_fee_add` sendFeeAdd,
			`send_fee_sum` sendFeeSum,
			``un_dead` unDead,`,
			`player_open_win_rate_s1` playerOpenWinRateS1,
			`player_send_win_rate_s1` playerSendWinRateS1,
			`room_id` roomId,
			`props`,
			`subname`,
			`fixed_robot_ids` fixedRobotIds,
			`win_fee_add` winFeeAdd,
			`win_fee_sum` winFeeSum,
			`rule_pic` rulePic,
			`game_status` gameStatus,
			`end_date` endDate,
			`owner_uuid` ownerUuid,
			`independence`,
			`agent_red_fan_dian` agentRedFanDian,
			`max_robot_count` maxRobotCount,
			`open_red_delay_end` openRedDelayEnd,
			`open_red_delay_start` openRedDelayStart,
			`fateqq_codepay_id` fateqqCodepayId,
			`fateqq_key` fateqqKey,
			`fateqq_token` fateqqToken,
			`domain`,
			`robot_rule` robotRule,
			`member_ids` memberIds,
			`stopspeak_member_ids`,
			`member_mgr_ids` memberMgrIds,
			`yaoqing_able` yaoqingAble,
			`yaoqing_audit_able` yaoqingAuditAble,
			`use_custom_headpic` useCustomHeadpic,
			`org_id` orgId
		)
		VALUES (
			#{id},
			#{createDate},
			#{modifyDate},
			#{descri},
			#{headImg},
			#{name},
			#{openerPrice},
			#{sendPrice},
			#{status},
			#{controlGame},
			#{controlModel},
			#{gameType},
			#{limitNum},
			#{openFeeAdd},
			#{openFeeSum},
			#{owner},
			#{playerWinRateS1},
			#{psw},
			#{sendCount},
			#{sendFeeAdd},
			#{sendFeeSum},
			#{unDead},
			#{playerOpenWinRateS1},
			#{playerSendWinRateS1},
			#{roomId},
			#{props},
			#{subname},
			#{fixedRobotIds},
			#{winFeeAdd},
			#{winFeeSum},
			#{rulePic},
			#{gameStatus},
			#{endDate},
			#{ownerUuid},
			#{independence},
			#{agentRedFanDian},
			#{maxRobotCount},
			#{openRedDelayEnd},
			#{openRedDelayStart},
			#{fateqqCodepayId},
			#{fateqqKey},
			#{fateqqToken},
			#{domain},
			#{robotRule},
			#{memberIds},
			#{stopspeakMemberIds},
			#{memberMgrIds},
			#{yaoqingAble},
			#{yaoqingAuditAble},
			#{useCustomHeadpic},
			#{orgId}
		)
	</insert>

	<select id="getObjectById" resultType="net.chenlin.dp.modules.biz.room.entity.RoomEntity">
		SELECT
			`id`,
			`create_date` createDate,
			`modify_date` modifyDate,
			`descri`,
			`head_img` headImg,
			`name`,
			`opener_price` openerPrice,
			`send_price` sendPrice,
			`status`,
			`control_game` controlGame,
			`control_model` controlModel,
			`game_type` gameType,
			`limit_num` limitNum,
			`open_fee_add` openFeeAdd,
			`open_fee_sum` openFeeSum,
			`owner`,
			`player_win_rate_s1` playerWinRateS1,
			`psw`,
			`send_count` sendCount,
			`send_fee_add` sendFeeAdd,
			`send_fee_sum` sendFeeSum,
			``un_dead` unDead,`,
			`player_open_win_rate_s1` playerOpenWinRateS1,
			`player_send_win_rate_s1` playerSendWinRateS1,
			`room_id` roomId,
			`props`,
			`subname`,
			`fixed_robot_ids` fixedRobotIds,
			`win_fee_add` winFeeAdd,
			`win_fee_sum` winFeeSum,
			`rule_pic` rulePic,
			`game_status` gameStatus,
			`end_date` endDate,
			`owner_uuid` ownerUuid,
			`independence`,
			`agent_red_fan_dian` agentRedFanDian,
			`max_robot_count` maxRobotCount,
			`open_red_delay_end` openRedDelayEnd,
			`open_red_delay_start` openRedDelayStart,
			`fateqq_codepay_id` fateqqCodepayId,
			`fateqq_key` fateqqKey,
			`fateqq_token` fateqqToken,
			`domain`,
			`robot_rule` robotRule,
			`member_ids` memberIds,
			`stopspeak_member_ids`,
			`member_mgr_ids` memberMgrIds,
			`yaoqing_able` yaoqingAble,
			`yaoqing_audit_able` yaoqingAuditAble,
			`use_custom_headpic` useCustomHeadpic,
			`org_id` orgId
		FROM
			room
		WHERE
			id = #{id}
	</select>

	<update id="update">
		UPDATE room
	 	<set>
			<if test="createDate != null">`create_date` = #{createDate}, </if>
			<if test="modifyDate != null">`modify_date` = #{modifyDate}, </if>
			<if test="descri != null">`descri` = #{descri}, </if>
			<if test="headImg != null">`head_img` = #{headImg}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="openerPrice != null">`opener_price` = #{openerPrice}, </if>
			<if test="sendPrice != null">`sendPrice` = #{sendPrice}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="controlGame != null">`control_game` = #{controlGame}, </if>
			<if test="controlModel != null">`control_model` = #{controlModel}, </if>
			<if test="gameType != null">`game_type` = #{gameType}, </if>
			<if test="limitNum != null">`limit_num` = #{limitNum}, </if>
			<if test="openFeeAdd != null">`open_fee_add` = #{openFeeAdd}, </if>
			<if test="openFeeSum != null">`open_fee_sum` = #{openFeeSum}, </if>
			<if test="owner != null">`owner` = #{owner}, </if>
			<if test="playerWinRateS1 != null">`player_win_rate_s1` = #{playerWinRateS1}, </if>
			<if test="psw != null">`psw` = #{psw}, </if>
			<if test="sendCount != null">`send_count` = #{sendCount}, </if>
			<if test="sendFeeAdd != null">`send_fee_add` = #{sendFeeAdd}, </if>
			<if test="sendFeeSum != null">`send_fee_sum` = #{sendFeeSum}, </if>
			<if test="unDead != null">`un_dead` = #{unDead}, </if>
			<if test="playerOpenWinRateS1 != null">`player_open_win_rate_s1` = #{playerOpenWinRateS1}, </if>
			<if test="playerSendWinRateS1 != null">`player_send_win_rate_s1` = #{playerSendWinRateS1}, </if>
			<if test="roomId != null">`room_id` = #{roomId}, </if>
			<if test="props != null">`props` = #{props}, </if>
			<if test="subname != null">`subname` = #{subname}, </if>
			<if test="fixedRobotIds != null">`fixed_robot_ids` = #{fixedRobotIds}, </if>
			<if test="winFeeAdd != null">`win_fee_add` = #{winFeeAdd}, </if>
			<if test="winFeeSum != null">`win_fee_sum` = #{winFeeSum}, </if>
			<if test="rulePic != null">`rule_pic` = #{rulePic}, </if>
			<if test="gameStatus != null">`game_status` = #{gameStatus}, </if>
			<if test="endDate != null">`end_date` = #{endDate}, </if>
			<if test="ownerUuid != null">`owner_uuid` = #{ownerUuid}, </if>
			<if test="independence != null">`independence` = #{independence}, </if>
			<if test="agentRedFanDian != null">`agent_red_fan_dian` = #{agentRedFanDian}, </if>
			<if test="maxRobotCount != null">`max_robot_count` = #{maxRobotCount}, </if>
			<if test="openRedDelayEnd != null">`open_red_delay_end` = #{openRedDelayEnd}, </if>
			<if test="openRedDelayStart != null">`open_red_delay_start` = #{openRedDelayStart}, </if>
			<if test="fateqqCodepayId != null">`fateqq_codepay_id` = #{fateqqCodepayId}, </if>
			<if test="fateqqKey != null">`fateqq_key` = #{fateqqKey}, </if>
			<if test="fateqqToken != null">`fateqq_token` = #{fateqqToken}, </if>
			<if test="domain != null">`domain` = #{domain}, </if>
			<if test="robotRule != null">`robot_rule` = #{robotRule}, </if>
			<if test="memberIds != null">`member_ids` = #{memberIds}, </if>
			<if test="stopspeakMemberIds != null">`stopspeak_member_ids` = #{stopspeakMemberIds}, </if>
			<if test="memberMgrIds != null">`member_mgr_ids` = #{memberMgrIds}, </if>
			<if test="yaoqingAble != null">`yaoqing_able` = #{yaoqingAble}, </if>
			<if test="yaoqingAuditAble != null">`yaoqing_audit_able` = #{yaoqingAuditAble}, </if>
			<if test="useCustomHeadpic != null">`use_custom_headpic` = #{useCustomHeadpic}</if>
		</set>
		WHERE
			id = #{id} and org_id = #{orgId}
	</update>

	<delete id="batchRemove">
		DELETE
		FROM
			room
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>


	<select id="getRoomMemberById" resultMap="roomMmemberResult">
		SELECT
			`id`,
			`create_date` createDate,
			`modify_date` modifyDate,
			`descri`,
			`head_img` headImg,
			`name`,
			`opener_price` openerPrice,
			`send_price` sendPrice,
			`status`,
			`control_game` controlGame,
			`control_model` controlModel,
			`game_type` gameType,
			`limit_num` limitNum,
			`open_fee_add` openFeeAdd,
			`open_fee_sum` openFeeSum,
			`owner`,
			`player_win_rate_s1` playerWinRateS1,
			`psw`,
			`send_count` sendCount,
			`send_fee_add` sendFeeAdd,
			`send_fee_sum` sendFeeSum,
			``un_dead` unDead,`,
			`player_open_win_rate_s1` playerOpenWinRateS1,
			`player_send_win_rate_s1` playerSendWinRateS1,
			`room_id` roomId,
			`props`,
			`subname`,
			`fixed_robot_ids` fixedRobotIds,
			`win_fee_add` winFeeAdd,
			`win_fee_sum` winFeeSum,
			`rule_pic` rulePic,
			`game_status` gameStatus,
			`end_date` endDate,
			`owner_uuid` ownerUuid,
			`independence`,
			`agent_red_fan_dian` agentRedFanDian,
			`max_robot_count` maxRobotCount,
			`open_red_delay_end` openRedDelayEnd,
			`open_red_delay_start` openRedDelayStart,
			`fateqq_codepay_id` fateqqCodepayId,
			`fateqq_key` fateqqKey,
			`fateqq_token` fateqqToken,
			`domain`,
			`robot_rule` robotRule,
			`member_ids` memberIds,
			`stopspeak_member_ids`,
			`member_mgr_ids` memberMgrIds,
			`yaoqing_able` yaoqingAble,
			`yaoqing_audit_able` yaoqingAuditAble,
			`use_custom_headpic` useCustomHeadpic,
			`org_id` orgId
		FROM
			room
		WHERE
			id = #{id}
	</select>


	<select id="getRoomSum" resultType="java.lang.Long">
		SELECT
			count(1)
		FROM
			room
		WHERE
			org_id = #{orgId}
	</select>
</mapper>