<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.chenlin.dp.modules.biz.domain.dao.DomainMapper">
	
	<select id="listForPage" resultType="net.chenlin.dp.modules.biz.domain.entity.DomainEntity">
		SELECT
		d.`id` id,
		d.`domain_type` domain_type,
		d.`domain_name` domain_name,
		d.`domain_enable`domain_enable,
		d.`is_blocked` is_blocked,
		d.`https_tomcat_jks_address` https_tomcat_jks_address,
		d.`https_tomcat_pass` https_tomcat_pass,
		d.`create_time` create_time,
		d.`update_time` update_time,
		d.`create_by` create_by,
		d.`update_by`update_by,
		d.qq_checked qq_checked,
		ad.app_base_name app_name
		FROM
			domain d
		left join app_domain ad on d.domain_name = ad.domain_name
		where
		 1=1
		<if test="domainType != null"> and d.`domain_type` = #{domainType} </if>
		<if test="domainName != null"> and d.`domain_name` = #{domainName} </if>
		<if test="domainEnable != null"> and d.`domain_enable` = #{domainEnable} </if>
		<if test="isBlocked != null"> and d.`is_blocked` = #{isBlocked} </if>
		<if test="httpsTomcatJksAddress != null"> and d.`https_tomcat_jks_address` = #{httpsTomcatJksAddress} </if>
		<if test="httpsTomcatPass != null"> and d.`https_tomcat_pass` = #{httpsTomcatPass} </if>
		<if test="createTime != null"> and d.`create_time` = #{createTime} </if>
		<if test="updateTime != null"> and d.`update_time` = #{updateTime} </if>
		<if test="createBy != null"> and d.`create_by` = #{createBy} </if>
		<if test="updateBy != null"> and d.`update_by` = #{updateBy}</if>
		<if test="appName != null"> and ad.`app_base_name` = #{appName}</if>
		ORDER BY
			d.id DESC
	</select>
	
	<insert id="save">
		INSERT INTO domain (
			`domain_type`, 
			`domain_name`,
			`domain_enable`, 
			`is_blocked`, 
			`https_tomcat_jks_address`, 
			`https_tomcat_pass`, 
			`create_time`, 
			`update_time`, 
			`create_by`,
			`update_by`,
		    `server_name`,
		    `server_id`,
		    `domain_origin`,
		    `qq_checked`
		)
		VALUES (
			#{domainType}, 
			#{domainName},
			#{domainEnable}, 
			#{isBlocked}, 
			#{httpsTomcatJksAddress}, 
			#{httpsTomcatPass}, 
			#{createTime}, 
			#{updateTime}, 
			#{createBy}, 
			#{updateBy},
			#{serverName},
			#{serverId},
			#{domainOrigin},
		    #{qqChecked}
		)
	</insert>
	
	<select id="getObjectById" resultType="net.chenlin.dp.modules.biz.domain.entity.DomainEntity">
		SELECT
			`id`, 
			`domain_type`, 
			`domain_name`, 
			`domain_enable`, 
			`is_blocked`, 
			`https_tomcat_jks_address`, 
			`https_tomcat_pass`, 
			`create_time`, 
			`update_time`, 
			`create_by`, 
			`update_by`
		FROM
			domain
		WHERE
			id = #{id}
	</select>
	
	<update id="update">
		UPDATE domain
	 	<set>
			<if test="domainType != null">`domain_type` = #{domainType}, </if>
			<if test="domainName != null">`domain_name` = #{domainName}, </if>
			<if test="appName != null">`domain_name` = #{appName}, </if>
			<if test="domainEnable != null">`domain_enable` = #{domainEnable}, </if>
			<if test="isBlocked != null">`is_blocked` = #{isBlocked}, </if>
			<if test="httpsTomcatJksAddress != null">`https_tomcat_jks_address` = #{httpsTomcatJksAddress}, </if>
			<if test="httpsTomcatPass != null">`https_tomcat_pass` = #{httpsTomcatPass}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="createBy != null">`create_by` = #{createBy}, </if>
			<if test="updateBy != null">`update_by` = #{updateBy}</if>
		</set>
		WHERE
			id = #{id}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			domain
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<select id="selectDomainServer" resultType="java.lang.Integer">
		SELECT COUNT(1)  FROM (
								  SELECT
									  server_id
								  FROM
									  domain
								  WHERE
									  domain_type = 2
								  group by
									  server_id) t ;
	</select>

	<select id="getObjectByName" resultType="net.chenlin.dp.modules.biz.domain.entity.DomainEntity">
		SELECT
			`id`,
			`domain_type`,
			`domain_name`,
			`domain_enable`,
			`is_blocked`,
			`https_tomcat_jks_address`,
			`https_tomcat_pass`,
			`create_time`,
			`update_time`,
			`create_by`,
			`update_by`
		FROM
			domain
		WHERE
			domain_name = #{domainName}
	</select>

</mapper>