@layout("../../system/layout.html", {title: ""}){
<table class="form" id="form">

    <tr>
        <td class="formTitle">域名<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="域名" v-model="domain.domainName" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>

    <tr>
        <td class="formTitle">APP名字<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="APP名字" v-model="domain.domainName" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>

    <tr>
        <td class="formTitle">域名类型<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="1: 服务器域名；2 推广域名" v-model="domain.domainType" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>

    <tr>
        <td class="formTitle">是否启用<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="1:启用；2：禁用" v-model="domain.domainEnable" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">是否被封<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="是否被封， 1：正常 2：不可用" v-model="domain.isBlocked" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
<!--    <tr>-->
<!--        <td class="formTitle">域名证书地址<font face="宋体">*</font></td>-->
<!--        <td class="formValue">-->
<!--            <input type="text" class="form-control" placeholder="域名证书地址" v-model="domain.httpsTomcatJksAddress" isvalid="no" checkexpession="NotNull">-->
<!--        </td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td class="formTitle">域名证书密码<font face="宋体">*</font></td>-->
<!--        <td class="formValue">-->
<!--            <input type="text" class="form-control" placeholder="域名证书密码" v-model="domain.httpsTomcatPass" isvalid="no" checkexpession="NotNull">-->
<!--        </td>-->
<!--    </tr>-->
</table>
<script src="${ctxPath}/static/js/biz/domain/add.js"></script>
@}