@layout("../../system/layout.html", {title: ""}){
<table class="form" id="form">

    <tr>
        <td class="formTitle">域名<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" style="height: 100px; width: 600px" placeholder="域名，多个域名时用,分隔，单次最多提交50个" v-model="domain.domainName" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>

    <tr>
        <td class="formTitle">APP名字<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="APP名字" v-model="domain.appName" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>

    <tr>
        <td class="formTitle">域名类型<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="1: 落地页域名；2 短域名" v-model="domain.domainType" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>

<!--    <tr>-->
<!--        <td class="formTitle">域名服务器<font face="宋体">*</font></td>-->
<!--        <td class="formValue">-->
<!--            <select  id="domainEnable"  class="form-control"  style="width: 100px;" >-->
<!--                <option value=""  style="display:none">请选择</option>-->
<!--                <option value="1">启用</option>-->
<!--                <option value="2">禁用</option>-->
<!--            </select>-->
<!--        </td>-->
<!--    </tr>-->

    <tr>
        <td class="formTitle">是否启用<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="1:启用；2：禁用" v-model="domain.domainEnable" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">是否被封<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="是否被封， 1：正常 2：不可用" v-model="domain.isBlocked" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">是否是官方域名<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder=" 1：官方 2：三方域名" v-model="domain.domainOrigin" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">域名备案类型<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="1:普通域名;2:QQ绿标域名" v-model="domain.qqChecked" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>

    <tr>
        <td class="formTitle">域名长短<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="1:长链接;2:短链接" v-model="domain.shortLink" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
<!--    <tr>-->
<!--        <td class="formTitle">域名证书地址<font face="宋体">*</font></td>-->
<!--        <td class="formValue">-->
<!--            <input type="text" class="form-control" placeholder="域名证书地址" v-model="domain.httpsTomcatJksAddress" isvalid="no" checkexpession="NotNull">-->
<!--        </td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td class="formTitle">域名证书密码<font face="宋体">*</font></td>-->
<!--        <td class="formValue">-->
<!--            <input type="text" class="form-control" placeholder="域名证书密码" v-model="domain.httpsTomcatPass" isvalid="no" checkexpession="NotNull">-->
<!--        </td>-->
<!--    </tr>-->
</table>
<script src="${ctxPath}/static/js/biz/domain/add.js"></script>
@}