@layout("../../system/layout.html", {title: ""}){
<div class="row">
    <div><h3 style="color: red">如果服务器域名或推广域名，每种少于20个，请联系技术添加域名</h3></div>
    <div class="col-md-4 form-inline pull-left"  style="width: 75%;"  >
        <div class="form-group">
            <input id = "domainName"  \@keyup.enter="load" type="text" class="form-control" placeholder="域名" style="width: 180px;" />
            域名类型:&nbsp;&nbsp;&nbsp;
            <select  id="domainType"  class="form-control"  style="width: 100px;" >
                <option value=""  style="display:none">请选择</option>
                <option value="1">服务器域名</option>
                <option value="2">推广域名</option>
            </select>
            <input id = "appName"  \@keyup.enter="load" type="text" class="form-control" placeholder="app名字,只有服务器域名才有效" style="width: auto" />
<!--            APP名称：-->
<!--            <select id = "appName" class = "form-control" style="width: 100px;" >-->
<!--                <option value=""  style="display:none">请选择</option>-->
<!--                <option value="1">启用</option>-->
<!--                <option value="2">禁用</option>-->
<!--            </select>-->
            是否启用:&nbsp;&nbsp;&nbsp;
            <select  id="domainEnable"  class="form-control"  style="width: 100px;" >
                <option value=""  style="display:none">请选择</option>
                <option value="1">启用</option>
                <option value="2">禁用</option>
            </select>
            是否被封:&nbsp;&nbsp;&nbsp;
            <select  id="isBlocked"  class="form-control"  style="width: 100px;" >
                <option value=""  style="display:none">请选择</option>
                <option value="1">正常</option>
                <option value="2">不可用</option>
            </select>

        </div>
        <div class="form-group">
            <a class="btn btn-primary" \@click="load"><i class="fa fa-search"></i>&nbsp;查询</a>
        </div>
    </div>
    <div class="col-md-8"  style="width: 25%;">
        <div class="btn-toolbar pull-right">
            <div class="btn-group">
                <a v-if="hasPermission('domain:list')" class="btn btn-default" onclick="reload();"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
                <a v-if="hasPermission('domain:save')" class="btn btn-default" \@click="save"><i class="fa fa-plus"></i>&nbsp;新增</a>
                <a v-if="hasPermission('domain:remove')" class="btn btn-default" \@click="remove(true)"><i class="fa fa-trash-o"></i> 删除</a>
                <a v-if="hasPermission('domain:excel')" class="btn btn-default" \@click="excel"><i class="fa fa-file-excel-o"></i> 下载</a>
<!--                <a v-if="hasPermission('domain:save')" class="btn btn-default" \@click="generateDomain"><i class="fa fa-trash-o"></i>&nbsp;批量生成域名</a>-->
            </div>
        </div>
    </div>
</div>
<div class="row">
    <table id="dataGrid"></table>
</div>
<script src="${ctxPath}/static/js/biz/domain/list.js"></script>
@}