@layout("../../system/layout.html", {title: "域名URL"}){
<div class="row">
    <div class="col-md-4 form-inline pull-left">
        <div class="form-group">
            <input id ="appName" \@keyup.enter="load" type="text" class="form-control" placeholder="app名字" style="width: 100px;" />
        </div>
        <div class="form-group">
            <a class="btn btn-primary" \@click="load"><i class="fa fa-search"></i>&nbsp;查询</a>
        </div>
    </div>
    <div class="col-md-4 form-inline pull-left">
        <div class="form-group">
            <input id ="advertiseDomain" type="text" class="form-control" placeholder="申请的链接数量" style="width: 120px;" />
        </div>
    </div>

    <div class="col-md-4 form-inline pull-left">
        <div class="form-group">
            <input id ="qqChecked" type="text" class="form-control" placeholder="1:普通域名;2:QQ绿标域名" style="width: 120px;" />
        </div>
    </div>

</div>

<div class="row">
    <table id="dataGrid"></table>
</div>


<script src="${ctxPath}/static/js/biz/promotion/applyUrl.js"></script>
@}