@layout("../../system/layout.html", {title: "域名URL"}){
<table class="form" id="form">

    <tr>
        <td class="formTitle">app名字<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="app名字" v-model="appPromotion.appName" disabled="disabled" isvalid="no" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">推广url<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="推广url" v-model="appPromotion.promotionUrl" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">重签后的AppID<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="重签后的AppID" v-model="appPromotion.appResignedD" disabled="disabled" isvalid="no" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">AppID原包<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="AppID原包" v-model="appPromotion.appBaseId" disabled="disabled" isvalid="no" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">短域名<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="短域名" disabled ="disabled" v-model="appPromotion.promotionDomain" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">过期时间<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="过期时间" v-model="appPromotion.expireTime" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
</table>
<script src="${ctxPath}/static/js/biz/promotion/edit.js"></script>
@}