@layout("../../system/layout.html", {title: "域名URL"}){
<div class="row">
    <div class="col-md-4 form-inline pull-left"  style="width: 55%;">
        <div class="form-group">
            <input id ="appName" \@keyup.enter="load" type="text" class="form-control" placeholder="app名字" style="width: 100px;" />
            <input id ="promotionDomain" \@keyup.enter="load" type="text" class="form-control" placeholder="推广域名" style="width: 100px;" />
            是否可用:&nbsp;
            <select  id="isBlocked"  class="form-control"  style="width: 100px;" >
                <option value=""  style="display:none">请选择</option>
                <option value="1">正常</option>
                <option value="2">不可用</option>
            </select>
            过期日： <input id ="expireTime" \@keyup.enter="load" type="date" class="form-control" placeholder="" style="width: 140px;" />
        </div>
        <div class="form-group">
            <a class="btn btn-primary" \@click="load"><i class="fa fa-search"></i>&nbsp;查询</a>
        </div>
    </div>
    <div class="col-md-8"  style="width: 45%;">
        <div class="btn-toolbar pull-right">
            <div class="btn-group">
                <a v-if="hasPermission('promotion:list')" class="btn btn-default" onclick="reload();"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
<!--                <a v-if="hasPermission('promotion:save')" class="btn btn-default" \@click="save"><i class="fa fa-plus"></i>&nbsp;新增</a>-->
                <a v-if="hasPermission('promotion:list')" class="btn btn-default" \@click="applyUrl"><i class="fa fa-link"></i>&nbsp;申请推广链接</a>
                <a v-if="hasPermission('promotion:remove')" class="btn btn-default" \@click="remove(true)"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <table id="dataGrid"></table>
</div>
<script src="${ctxPath}/static/js/biz/promotion/list.js"></script>
@}