<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.chenlin.dp.modules.biz.appVersion.dao.AppVersionMapper">
	
	<select id="listForPage" resultType="net.chenlin.dp.modules.biz.appVersion.entity.AppVersionEntity">
		SELECT
			`id`, 
			`gmt_create` gmtCreate, 
			`gmt_modified` gmtModified, 
			`version`, 
			`descript`, 
			`org_id` orgId,
			`device_type` deviceType,
			`down_url` downUrl, 
			`force_update`,
			`is_show` isShow,
			`app_id` appId, 
			`app_name` appName
		FROM
			app_version
		where
		1=1
		<if test="id != null"> and `id` = #{id} </if>
		<if test="gmtCreate != null"> and `gmt_create` = #{gmtCreate} </if>
		<if test="gmtModified != null"> and `gmt_modified` = #{gmtModified} </if>
		<if test="version != null"> and `version` = #{version} </if>
		<if test="descript != null"> and `descript` = #{descript} </if>
		<if test="orgId != null"> and `org_id` = #{orgId} </if>
		<if test="deviceType != null"> and `device_type` = #{deviceType} </if>
		<if test="downUrl != null"> and `down_url` = #{downUrl} </if>
		<if test="forceUpdate != null"> and `force_update`, = #{forceUpdate} </if>
		<if test="isShow != null"> and `is_show`,  = #{isShow} </if>
		<if test="appId != null"> and `app_id` = #{appId} </if>
		<if test="appName != null"> and `app_name` = #{appName} </if>
		ORDER BY
			id DESC
	</select>
	
	<insert id="save" >
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO app_version (
			`gmt_create` gmtCreate, 
			`gmt_modified` gmtModified, 
			`version`, 
			`descript`, 
			`org_id` orgId,
			`device_type` deviceType,
			`down_url` downUrl, 
			`force_update`,
			`is_show` isShow,
			`app_id` appId, 
			`app_name`appName
		)
		VALUES (
			#{gmtCreate}, 
			#{gmtModified}, 
			#{version}, 
			#{descript}, 
			#{orgId},
			#{deviceType},
			#{downUrl}, 
			#{forceUpdate}, 
			#{isShow},
			#{appId},
			#{appName}
		)
	</insert>
	
	<select id="getObjectById" resultType="net.chenlin.dp.modules.biz.appVersion.entity.AppVersionEntity">
		SELECT
			`id`, 
			`gmt_create` gmtCreate, 
			`gmt_modified` gmtModified, 
			`version`, 
			`descript`, 
			`org_id` orgId,
			`device_type` deviceType,
			`down_url` downUrl, 
			`force_update`,
			`is_show` isShow,
			`app_id` appId, 
			`app_name` appName
		FROM
			app_version
		WHERE
			id = #{id}
	</select>
	
	<update id="update" useGeneratedKeys="true"  keyProperty="id">
		UPDATE app_version
	 	<set>
			<if test="gmtCreate != null">`gmt_create` = #{gmtCreate}, </if>
			<if test="gmtModified != null">`gmt_modified` = #{gmtModified}, </if>
			<if test="version != null">`version` = #{version}, </if>
			<if test="descript != null">`descript` = #{descript}, </if>
			<if test="orgId != null">`org_id` = #{orgId}, </if>
			<if test="deviceType != null">`device_type` = #{deviceType}, </if>
			<if test="downUrl != null">`down_url` = #{downUrl}, </if>
			<if test="forceUpdate != null">`force_update` = #{forceUpdate}, </if>
			<if test="isShow != null">`is_show` = #{isShow}, </if>
			<if test="appId != null">`app_id` = #{appId}, </if>
			<if test="appName != null">`app_name` = #{appName}</if>
		</set>
		WHERE
			id = #{id}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			app_version
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<delete id="remove">
		DELETE
		FROM
			app_version
		WHERE
			id = #{id}
	</delete>

	<select id="getObjectByOSAndAppName" resultType="net.chenlin.dp.modules.biz.appVersion.entity.AppVersionEntity">
		SELECT
			`id`,
			`gmt_create` gmtCreate,
			`gmt_modified` gmtModified,
			`version`,
			`descript`,
			`org_id` orgId,
			`device_type` deviceType,
			`down_url` downUrl,
			`force_update` forceUpdate,
			`is_show` isShow,
			`app_id` appId,
			`app_name` appName
		FROM
			app_version
		WHERE
			device_type = #{deviceType} and app_name = ${appName}
	</select>

</mapper>