<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.chenlin.dp.modules.biz.tongji.dao.TongjiMapper">
	
	<select id="listForPage" resultType="net.chenlin.dp.modules.biz.tongji.entity.TongjiEntity">
		SELECT
			`id`, 
			`createDate`, 
			`modifyDate`, 
			`chongzhi_price`, 
			`todayOpenRedReward_price`, 
			`todayRegisterCount`, 
			`todaySendRedReward_price`, 
			`todayService_price`, 
			`todayTichen_price`, 
			`tx_price`, 
			`undeadOpenRed_price`, 
			`sendRed`, 
			`sendRedPrice`, 
			`todayChongzhi_price`, 
			`todayTransferPrice`, 
			`todayTx_price`, 
			`transferPrice`
		FROM
			tongji
		where
		1=1
		<if test="id != null"> and `id` = #{id} </if>
		<if test="createDate != null"> and `createDate` = #{createDate} </if>
		<if test="modifyDate != null"> and `modifyDate` = #{modifyDate} </if>
		<if test="chongzhi_price != null"> and `chongzhi_price` = #{chongzhi_price} </if>
		<if test="todayOpenRedReward_price != null"> and `todayOpenRedReward_price` = #{todayOpenRedReward_price} </if>
		<if test="todayRegisterCount != null"> and `todayRegisterCount` = #{todayRegisterCount} </if>
		<if test="todaySendRedReward_price != null"> and `todaySendRedReward_price` = #{todaySendRedReward_price} </if>
		<if test="todayService_price != null"> and `todayService_price` = #{todayService_price} </if>
		<if test="todayTichen_price != null"> and `todayTichen_price` = #{todayTichen_price} </if>
		<if test="tx_price != null"> and `tx_price` = #{tx_price} </if>
		<if test="undeadOpenRed_price != null"> and `undeadOpenRed_price` = #{undeadOpenRed_price} </if>
		<if test="sendRed != null"> and `sendRed` = #{sendRed} </if>
		<if test="sendRedPrice != null"> and `sendRedPrice` = #{sendRedPrice} </if>
		<if test="todayChongzhi_price != null"> and `todayChongzhi_price` = #{todayChongzhi_price} </if>
		<if test="todayTransferPrice != null"> and `todayTransferPrice` = #{todayTransferPrice} </if>
		<if test="todayTx_price != null"> and `todayTx_price` = #{todayTx_price} </if>
		<if test="transferPrice != null"> and `transferPrice` = #{transferPrice} </if>
		ORDER BY
			id DESC
	</select>
	
	<insert id="save">
		INSERT INTO tongji (
			`id`, 
			`createDate`, 
			`modifyDate`, 
			`chongzhi_price`, 
			`todayOpenRedReward_price`, 
			`todayRegisterCount`, 
			`todaySendRedReward_price`, 
			`todayService_price`, 
			`todayTichen_price`, 
			`tx_price`, 
			`undeadOpenRed_price`, 
			`sendRed`, 
			`sendRedPrice`, 
			`todayChongzhi_price`, 
			`todayTransferPrice`, 
			`todayTx_price`, 
			`transferPrice`
		)
		VALUES (
			#{id}, 
			#{createDate}, 
			#{modifyDate}, 
			#{chongzhi_price}, 
			#{todayOpenRedReward_price}, 
			#{todayRegisterCount}, 
			#{todaySendRedReward_price}, 
			#{todayService_price}, 
			#{todayTichen_price}, 
			#{tx_price}, 
			#{undeadOpenRed_price}, 
			#{sendRed}, 
			#{sendRedPrice}, 
			#{todayChongzhi_price}, 
			#{todayTransferPrice}, 
			#{todayTx_price}, 
			#{transferPrice}
		)
	</insert>
	
	<select id="getObjectById" resultType="net.chenlin.dp.modules.biz.tongji.entity.TongjiEntity">
		SELECT
			`id`, 
			`createDate`, 
			`modifyDate`, 
			`chongzhi_price`, 
			`todayOpenRedReward_price`, 
			`todayRegisterCount`, 
			`todaySendRedReward_price`, 
			`todayService_price`, 
			`todayTichen_price`, 
			`tx_price`, 
			`undeadOpenRed_price`, 
			`sendRed`, 
			`sendRedPrice`, 
			`todayChongzhi_price`, 
			`todayTransferPrice`, 
			`todayTx_price`, 
			`transferPrice`
		FROM
			tongji
		WHERE
			id = #{id}
	</select>
	
	<update id="update">
		UPDATE tongji
	 	<set>
			<if test="createDate != null">`createDate` = #{createDate}, </if>
			<if test="modifyDate != null">`modifyDate` = #{modifyDate}, </if>
			<if test="chongzhi_price != null">`chongzhi_price` = #{chongzhi_price}, </if>
			<if test="todayOpenRedReward_price != null">`todayOpenRedReward_price` = #{todayOpenRedReward_price}, </if>
			<if test="todayRegisterCount != null">`todayRegisterCount` = #{todayRegisterCount}, </if>
			<if test="todaySendRedReward_price != null">`todaySendRedReward_price` = #{todaySendRedReward_price}, </if>
			<if test="todayService_price != null">`todayService_price` = #{todayService_price}, </if>
			<if test="todayTichen_price != null">`todayTichen_price` = #{todayTichen_price}, </if>
			<if test="tx_price != null">`tx_price` = #{tx_price}, </if>
			<if test="undeadOpenRed_price != null">`undeadOpenRed_price` = #{undeadOpenRed_price}, </if>
			<if test="sendRed != null">`sendRed` = #{sendRed}, </if>
			<if test="sendRedPrice != null">`sendRedPrice` = #{sendRedPrice}, </if>
			<if test="todayChongzhi_price != null">`todayChongzhi_price` = #{todayChongzhi_price}, </if>
			<if test="todayTransferPrice != null">`todayTransferPrice` = #{todayTransferPrice}, </if>
			<if test="todayTx_price != null">`todayTx_price` = #{todayTx_price}, </if>
			<if test="transferPrice != null">`transferPrice` = #{transferPrice}</if>
		</set>
		WHERE
			id = #{id}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			tongji
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>