@layout("../../system/layout.html", {title: "app基本信息"}){
<table class="form" id="form">
    <tr>
        <td class="formTitle">app名字<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="app名字" v-model="appBase.appName" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
<!--    <tr>-->
<!--        <td class="formTitle">安卓原包地址<font face="宋体">*</font></td>-->
<!--        <td class="formValue">-->
<!--            <input type="text" class="form-control" placeholder="安卓原包地址" v-model="appBase.appAndroidOriginAddress" isvalid="yes" checkexpession="NotNull">-->
<!--        </td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td class="formTitle">ios原包地址<font face="宋体">*</font></td>-->
<!--        <td class="formValue">-->
<!--            <input type="text" class="form-control" placeholder="ios原包地址" v-model="appBase.appIosOriginAddrss" isvalid="yes" checkexpession="NotNull">-->
<!--        </td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td class="formTitle">安卓原始包名<font face="宋体">*</font></td>-->
<!--        <td class="formValue">-->
<!--            <input type="text" class="form-control" placeholder="安卓原始包名" v-model="appBase.appAndroidOriginPackageName" isvalid="yes" checkexpession="NotNull">-->
<!--        </td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td class="formTitle">ios包名<font face="宋体">*</font></td>-->
<!--        <td class="formValue">-->
<!--            <input type="text" class="form-control" placeholder="ios包名" v-model="appBase.appIosOriginPackageName" isvalid="yes" checkexpession="NotNull">-->
<!--        </td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td class="formTitle">安卓证书名<font face="宋体">*</font></td>-->
<!--        <td class="formValue">-->
<!--            <input type="text" class="form-control" placeholder="安卓证书名-->
<!--" v-model="appBase.appAndroidKeystoreName" isvalid="yes" checkexpession="NotNull">-->
<!--        </td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td class="formTitle">安卓证书密码<font face="宋体">*</font></td>-->
<!--        <td class="formValue">-->
<!--            <input type="text" class="form-control" placeholder="安卓证书密码" v-model="appBase.appAndroidKeystorePassword" isvalid="yes" checkexpession="NotNull">-->
<!--        </td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td class="formTitle">安卓证书地址<font face="宋体">*</font></td>-->
<!--        <td class="formValue">-->
<!--            <input type="text" class="form-control" placeholder="安卓证书地址" v-model="appBase.appAndroidKeystoreAddress" isvalid="yes" checkexpession="NotNull">-->
<!--        </td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td class="formTitle">落地页服务器ID<font face="宋体">*</font></td>-->
<!--        <td class="formValue">-->
<!--            <input type="text" class="form-control" placeholder="" v-model="appBase.appHomePageServerId" isvalid="yes" checkexpession="NotNull">-->
<!--        </td>-->
<!--    </tr>-->
</table>
<script src="${ctxPath}/static/js/biz/appBase/add.js"></script>
@}