<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.chenlin.dp.modules.biz.notice.dao.NoticeMapper">
	
	<select id="listForPage" resultType="net.chenlin.dp.modules.biz.notice.entity.NoticeEntity">
		SELECT
			`id`, 
			`createDate`, 
			`modifyDate`, 
			`content`, 
			`status`, 
			`title`
		FROM
			notice
		where
		1=1
		<if test="id != null"> and `id` = #{id} </if>
		<if test="createDate != null"> and `createDate` = #{createDate} </if>
		<if test="modifyDate != null"> and `modifyDate` = #{modifyDate} </if>
		<if test="content != null"> and `content` = #{content} </if>
		<if test="status != null"> and `status` = #{status} </if>
		<if test="title != null"> and `title` = #{title} </if>
		ORDER BY
			id DESC
	</select>
	
	<insert id="save">
		INSERT INTO notice (
			`id`, 
			`createDate`, 
			`modifyDate`, 
			`content`, 
			`status`, 
			`title`
		)
		VALUES (
			#{id}, 
			#{createDate}, 
			#{modifyDate}, 
			#{content}, 
			#{status}, 
			#{title}
		)
	</insert>
	
	<select id="getObjectById" resultType="net.chenlin.dp.modules.biz.notice.entity.NoticeEntity">
		SELECT
			`id`, 
			`createDate`, 
			`modifyDate`, 
			`content`, 
			`status`, 
			`title`
		FROM
			notice
		WHERE
			id = #{id}
	</select>
	
	<update id="update">
		UPDATE notice
	 	<set>
			<if test="createDate != null">`createDate` = #{createDate}, </if>
			<if test="modifyDate != null">`modifyDate` = #{modifyDate}, </if>
			<if test="content != null">`content` = #{content}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="title != null">`title` = #{title}</if>
		</set>
		WHERE
			id = #{id}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			notice
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>