<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.chenlin.dp.modules.biz.employee.dao.EmployeeMapper">
	
	<select id="listForPage" resultType="net.chenlin.dp.modules.biz.employee.entity.EmployeeEntity">
		SELECT
		employee.`id` id,
		employee.`createDate` createDate,
		employee.`modifyDate` modifyDate,
		employee.`inviteCode` inviteCode,
		employee.`member_id` member_id,
		employee.`member_uuid` member_uuid,
		employee.`name` name,
		employee.`ip_white` ip_white,
			member.nickName nickName,
			member.username username,
			member.lastLoginIp lastLoginIp
		FROM
			employee
		left join member on member.memberId = employee.member_id
		where
		1=1
		<if test="id != null"> and `id` = #{id} </if>
		<if test="createDate != null"> and `createDate` = #{createDate} </if>
		<if test="modifyDate != null"> and `modifyDate` = #{modifyDate} </if>
		<if test="inviteCode != null"> and `inviteCode` = #{inviteCode} </if>
		<if test="member_id != null"> and `member_id` = #{member_id} </if>
		<if test="member_uuid != null"> and `member_uuid` = #{member_uuid} </if>
		<if test="name != null"> and `name` = #{name} </if>
		<if test="ip_white != null"> and `ip_white` = #{ip_white} </if>
		ORDER BY
			id DESC
	</select>
	
	<insert id="save">
		INSERT INTO employee (
			`id`, 
			`createDate`, 
			`modifyDate`, 
			`inviteCode`, 
			`member_id`, 
			`member_uuid`, 
			`name`,
			`ip_white`
		)
		VALUES (
			#{id}, 
			#{createDate}, 
			#{modifyDate}, 
			#{inviteCode}, 
			#{member_id}, 
			#{member_uuid}, 
			#{name},
			#{ip_white}
		)
	</insert>
	
	<select id="getObjectById" resultType="net.chenlin.dp.modules.biz.employee.entity.EmployeeEntity">
		SELECT
			`id`, 
			`createDate`, 
			`modifyDate`, 
			`inviteCode`, 
			`member_id`, 
			`member_uuid`, 
			`name`,
			`ip_white`
		FROM
			employee
		WHERE
			id = #{id}
	</select>

	<select id="getMemberUUID" resultType="net.chenlin.dp.modules.biz.employee.entity.EmployeeEntity">
		SELECT
			`id`,
			`createDate`,
			`modifyDate`,
			`inviteCode`,
			`member_id`,
			`member_uuid`,
			`name`,
			`ip_white`
		FROM
			employee
		WHERE
			member_uuid = #{memberUUID}
	</select>

	<select id="getByMemberId" resultType="net.chenlin.dp.modules.biz.employee.entity.EmployeeEntity">
		SELECT
			`id`,
			`createDate`,
			`modifyDate`,
			`inviteCode`,
			`member_id`,
			`member_uuid`,
			`name`,
			`ip_white`
		FROM
			employee
		WHERE
			member_id = #{memberId}
	</select>
	
	<update id="update">
		UPDATE employee
	 	<set>
			<if test="createDate != null">`createDate` = #{createDate}, </if>
			<if test="modifyDate != null">`modifyDate` = #{modifyDate}, </if>
			<if test="inviteCode != null">`inviteCode` = #{inviteCode}, </if>
			<if test="member_id != null">`member_id` = #{member_id}, </if>
			<if test="member_uuid != null">`member_uuid` = #{member_uuid}, </if>
			<if test="name != null">`name` = #{name},</if>
			<if test="ip_white != null">`ip_white` = #{ip_white},</if>
		</set>
		WHERE
			id = #{id}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			employee
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<update id="bindIP">
		UPDATE employee
		<set>
			<if test="createDate != null">`createDate` = #{createDate}, </if>
			<if test="modifyDate != null">`modifyDate` = #{modifyDate}, </if>
			<if test="ip_white != null">`ip_white` = #{ip_white},</if>
		</set>
		WHERE
		member_id = #{member_id}
	</update>

</mapper>