<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.chenlin.dp.modules.biz.appBase.dao.AppBaseMapper">
	
	<select id="listForPage" resultType="net.chenlin.dp.modules.biz.appBase.entity.AppBaseEntity">
		SELECT
			`id`, 
			`app_name`, 
			`app_android_origin_address`, 
			`app_ios_origin_addrss`, 
			`app_android_origin_package_name`, 
			`app_ios_origin_package_name`, 
			`app_android_keystore_name`, 
			`app_android_keystore_password`, 
			`app_android_keystore_address`, 
			`app_home_page_server_ids`,
			`create_time`, 
			`update_time`, 
			`create_by`, 
			`update_by`
		FROM
			app_base
		where
		1=1
		<if test="appName != null"> and `app_name` = #{appName} </if>
		<if test="appAndroidOriginAddress != null"> and `app_android_origin_address` = #{appAndroidOriginAddress} </if>
		<if test="appIosOriginAddrss != null"> and `app_ios_origin_addrss` = #{appIosOriginAddrss} </if>
		<if test="appAndroidOriginPackageName != null"> and `app_android_origin_package_name` = #{appAndroidOriginPackageName} </if>
		<if test="appIosOriginPackageName != null"> and `app_ios_origin_package_name` = #{appIosOriginPackageName} </if>
		<if test="appAndroidKeystoreName != null"> and `app_android_keystore_name` = #{appAndroidKeystoreName} </if>
		<if test="appAndroidKeystorePassword != null"> and `app_android_keystore_password` = #{appAndroidKeystorePassword} </if>
		<if test="appAndroidKeystoreAddress != null"> and `app_android_keystore_address` = #{appAndroidKeystoreAddress} </if>
		<if test="appHomePageServerIds != null"> and `app_home_page_server_ids` = #{appHomePageServerIds} </if>
		<if test="createTime != null"> and `create_time` = #{createTime} </if>
		<if test="updateTime != null"> and `update_time` = #{updateTime} </if>
		<if test="createBy != null"> and `create_by` = #{createBy}  </if>
		<if test="updateBy != null"> and `update_by` = #{updateBy} </if>
		ORDER BY
			id DESC
	</select>
	
	<insert id="save">
		INSERT INTO app_base (
			`app_name`, 
			`app_android_origin_address`, 
			`app_ios_origin_addrss`, 
			`app_android_origin_package_name`, 
			`app_ios_origin_package_name`, 
			`app_android_keystore_name`, 
			`app_android_keystore_password`, 
			`app_android_keystore_address`, 
			`app_home_page_server_ids`,
			`create_time`, 
			`update_time`, 
			`create_by`, 
			`update_by`
		)
		VALUES (
			#{appName}, 
			#{appAndroidOriginAddress}, 
			#{appIosOriginAddrss}, 
			#{appAndroidOriginPackageName}, 
			#{appIosOriginPackageName}, 
			#{appAndroidKeystoreName}, 
			#{appAndroidKeystorePassword}, 
			#{appAndroidKeystoreAddress}, 
			#{appHomePageServerIds},
			#{createTime}, 
			#{updateTime}, 
			#{createBy}, 
			#{updateBy}
		)
	</insert>
	
	<select id="getObjectById" resultType="net.chenlin.dp.modules.biz.appBase.entity.AppBaseEntity">
		SELECT
			`id`, 
			`app_name`, 
			`app_android_origin_address`, 
			`app_ios_origin_addrss`, 
			`app_android_origin_package_name`, 
			`app_ios_origin_package_name`, 
			`app_android_keystore_name`, 
			`app_android_keystore_password`, 
			`app_android_keystore_address`, 
			`app_home_page_server_ids`,
			`create_time`, 
			`update_time`, 
			`create_by`, 
			`update_by`
		FROM
			app_base
		WHERE
			id = #{id}
	</select>
	
	<update id="update">
		UPDATE app_base
	 	<set>
			<if test="appName != null">`app_name` = #{appName}, </if>
			<if test="appAndroidOriginAddress != null">`app_android_origin_address` = #{appAndroidOriginAddress}, </if>
			<if test="appIosOriginAddrss != null">`app_ios_origin_addrss` = #{appIosOriginAddrss}, </if>
			<if test="appAndroidOriginPackageName != null">`app_android_origin_package_name` = #{appAndroidOriginPackageName}, </if>
			<if test="appIosOriginPackageName != null">`app_ios_origin_package_name` = #{appIosOriginPackageName}, </if>
			<if test="appAndroidKeystoreName != null">`app_android_keystore_name` = #{appAndroidKeystoreName}, </if>
			<if test="appAndroidKeystorePassword != null">`app_android_keystore_password` = #{appAndroidKeystorePassword}, </if>
			<if test="appAndroidKeystoreAddress != null">`app_android_keystore_address` = #{appAndroidKeystoreAddress}, </if>
			<if test="appHomePageServerIds != null">`app_home_page_server_ids` = #{appHomePageServerIds}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="createBy != null">`create_by` = #{createBy}, </if>
			<if test="updateBy != null">`update_by` = #{updateBy}</if>
		</set>
		WHERE
			id = #{id}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			app_base
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>