<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.chenlin.dp.modules.sys.dao.DomainsMapper">
	
	<select id="selectObj" resultType="net.chenlin.dp.modules.sys.entity.DomainsEntity">
		SELECT
			*
		FROM
			domains
			where 1=1
			<if test="org_id != null ">
				AND org_id = #{org_id}
			</if>
			<if test="http_domain != null and http_domain.trim() != ''">
				AND http_domain= #{http_domain}
			</if>
	</select>

	<insert id="save" parameterType="net.chenlin.dp.modules.sys.entity.DomainsEntity" useGeneratedKeys="true" keyProperty="org_id">
		INSERT INTO domains (
			org_id,
			http_domain,
			ws_domain,
			oss_domain
		)
		VALUES (
				   #{org_id},
				   #{http_domain},
				   #{ws_domain},
				   #{oss_domain}
			   )
	</insert>

	<select id="getDomainByOrgId" resultType="net.chenlin.dp.modules.sys.entity.DomainsEntity">
		SELECT
		*
		FROM
		domains
		where org_id = #{org_id}
	</select>
</mapper>