<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.chenlin.dp.modules.biz.server.dao.ServerMapper">
	
	<select id="listForPage" resultType="net.chenlin.dp.modules.biz.server.entity.ServerEntity">
		SELECT
			`id`, 
			`ssh_account_name`, 
			`ssh_account_password`, 
			`ssh_account_type`, 
			`create_time`, 
			`update_time`, 
			`create_by`, 
			`update_by`, 
			`server_ip`, 
			`server_name`
		FROM
			server
		where
		1 = 1
		<if test="sshAccountName != null"> and `ssh_account_name` = #{sshAccountName} </if>
		<if test="sshAccountPassword != null"> and `ssh_account_password` = #{sshAccountPassword} </if>
		<if test="sshAccountType != null"> and `ssh_account_type` = #{sshAccountType}</if>
		<if test="createTime != null"> and `create_time` = #{createTime} </if>
		<if test="updateTime != null"> and `update_time` = #{updateTime} </if>
		<if test="createBy != null"> and `create_by` = #{createBy} </if>
		<if test="updateBy != null"> and `update_by` = #{updateBy} </if>
		<if test="serverIp != null"> and `server_ip` = #{serverIp} </if>
		<if test="serverName != null"> and `server_name` = #{serverName} </if>
		ORDER BY
			id DESC
	</select>
	
	<insert id="save">
		INSERT INTO server (
			`ssh_account_name`, 
			`ssh_account_password`, 
			`ssh_account_type`, 
			`create_time`, 
			`update_time`, 
			`create_by`, 
			`update_by`, 
			`server_ip`, 
			`server_name`
		)
		VALUES (
			#{sshAccountName}, 
			#{sshAccountPassword}, 
			#{sshAccountType}, 
			#{createTime}, 
			#{updateTime}, 
			#{createBy}, 
			#{updateBy}, 
			#{serverIp}, 
			#{serverName}
		)
	</insert>
	
	<select id="getObjectById" resultType="net.chenlin.dp.modules.biz.server.entity.ServerEntity">
		SELECT
			`id`, 
			`ssh_account_name`, 
			`ssh_account_password`, 
			`ssh_account_type`, 
			`create_time`, 
			`update_time`, 
			`create_by`, 
			`update_by`, 
			`server_ip`, 
			`server_name`
		FROM
			server
		WHERE
			id = #{id}
	</select>
	
	<update id="update">
		UPDATE server
	 	<set>
			<if test="sshAccountName != null">`ssh_account_name` = #{sshAccountName}, </if>
			<if test="sshAccountPassword != null">`ssh_account_password` = #{sshAccountPassword}, </if>
			<if test="sshAccountType != null">`ssh_account_type` = #{sshAccountType}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="createBy != null">`create_by` = #{createBy}, </if>
			<if test="updateBy != null">`update_by` = #{updateBy}, </if>
			<if test="serverIp != null">`server_ip` = #{serverIp}, </if>
			<if test="serverName != null">`server_name` = #{serverName}</if>
		</set>
		WHERE
			id = #{id}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			server
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>